@model ExceedConsultancy.Models.BusinessArModel
@{
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
    ViewBag.Title = "Exceed Consultancy  |  استشارات الأعمال";
    ViewBag.MetaDescription = "تتم تصميم خدمات استشارات الأعمال لدينا للتعامل مع التحديات والفرص الفريدة التي تواجهك. سواء كنت بحاجة إلى تطوير استراتيجية أعمال قوية أو تبسيط العمليات لتحقيق أقصى كفاءة أو الحصول على نظرة أعمق إلى سوقك المستهدف ، فإننا نوفر لك التغطية الكاملة.";
    ViewBag.MetaKeywords = "استشارات الأعمال، تطوير الاستراتيجية، التخطيط الاستراتيجي، التحليل المالي، تحليل السوق";

}


<body>
   

    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">استشارات الأعمال</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a asp-controller="Home" asp-action="index">الرئيسية</a>
                        <span> / </span>
                        استشارات الأعمال
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- start service details area -->
    <div class="rts-service-details-area rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-12 col-sm-12 col-12">
                    <!-- service details left area start -->
                    <div class="service-detials-step-1">
                        <div class="thumbnail">
                            <img src="assets/images/service/01.jpg" alt="business-area">
                        </div>
                        <h4 class="title">استشارات الأعمال </h4>
              <p class="disc">
    تم تصميم خدمات الاستشارات التجارية لدينا لمواجهة التحديات والفرص الفريدة الخاصة بك. سواء كنت بحاجة إلى تطوير استراتيجية العمل، أو تبسيط العمليات لتحقيق أقصى قدر من الكفاءة، أو اكتساب رؤية أعمق في السوق المستهدف، فمهمتنا هي تغطية جميع احتياجاتك لمواكبة سوق العمل  .
</p>

                        <!--<div class="row g-5 mt--30 mb--40">
                        <div class="col-lg-6">-->
                        <!-- single service details card -->
                        <!--<div class="service-details-card">
                            <div class="thumbnail">
                                <img src="assets/images/service/icon/09.svg" alt="" class="icon">
                            </div>
                            <div class="details">
                                <h6 class="title">Instant Business Growth</h6>
                                <p class="disc">Maintain wireless scerios after sure quality vectors future</p>
                            </div>
                        </div>-->
                        <!-- single service details card End -->
                        <!--</div>
                        <div class="col-lg-6">-->
                        <!-- single service details card -->
                        <!--<div class="service-details-card">
                            <div class="thumbnail">
                                <img src="assets/images/service/icon/10.svg" alt="" class="icon">
                            </div>
                            <div class="details">
                                <h6 class="title">24/7 Quality Service</h6>
                                <p class="disc">Maintain wireless scerios after sure quality vectors future</p>
                            </div>
                        </div>-->
                        <!-- single service details card End -->
                        <!--</div>
                        <div class="col-lg-6">-->
                        <!-- single service details card -->
                        <!--<div class="service-details-card">
                            <div class="thumbnail">
                                <img src="assets/images/service/icon/11.svg" alt="" class="icon">
                            </div>
                            <div class="details">
                                <h6 class="title">Easy Customer Service</h6>
                                <p class="disc">Maintain wireless scerios after sure quality vectors future</p>
                            </div>
                        </div>-->
                        <!-- single service details card End -->
                        <!--</div>
                        <div class="col-lg-6">-->
                        <!-- single service details card -->
                        <!--<div class="service-details-card">
                            <div class="thumbnail">
                                <img src="assets/images/service/icon/12.svg" alt="" class="icon">
                            </div>
                            <div class="details">
                                <h6 class="title">Quality Cost Service</h6>
                                <p class="disc">Maintain wireless scerios after sure quality vectors future</p>
                            </div>
                        </div>-->
                        <!-- single service details card End -->
                        <!--</div>
                        </div>-->
                        <!-- stem-area start -->
                        <!--<div class="row  mb--40 g-5 mb_md--20 mb_sm--20">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="single-service-step text-center">
                                    <p class="step">01</p>
                                    <h6 class="title">
                                        STEP ONE
                                    </h6>
                                    <p class="disc">
                                        Tactical services through market web services
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="single-service-step text-center">
                                    <p class="step">02</p>
                                    <h6 class="title">
                                        STEP TWO
                                    </h6>
                                    <p class="disc">
                                        Tactical services through market web services
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="single-service-step text-center">
                                    <p class="step">03</p>
                                    <h6 class="title">
                                        STEP THREE
                                    </h6>
                                    <p class="disc">
                                        Tactical services through market web services
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="single-service-step text-center">
                                    <p class="step">03</p>
                                    <h6 class="title">
                                        STEP THREE
                                    </h6>
                                    <p class="disc">
                                        Tactical services through market web services
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="single-service-step text-center">
                                    <p class="step">03</p>
                                    <h6 class="title">
                                        STEP THREE
                                    </h6>
                                    <p class="disc">
                                        Tactical services through market web services
                                    </p>
                                </div>
                            </div>
                        </div>-->
                        <!-- stem-area End -->
                    </div>
                    <!-- service details left area end -->

                </div>
                <!--rts blog wizered area -->
                <div class="col-xl-4 col-md-12 col-sm-12 col-12 mt_lg--60 pl--50 pl_md--0 pl-lg-controler pl_sm--0">
                    <!-- single wizered start -->
                    <div class="rts-single-wized Categories service">
                        <div class="wized-header">
                            <h5 class="title">
                                الفئات
                            </h5>
                        </div>
                        <div class="wized-body">
                            <!-- single categoris -->
                              <ul class="single-categories">
                                <li><a asp-controller="BusinessAr" asp-action="index">استشارات الأعمال <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <!-- single categoris End -->
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="TechnologyAr" asp-action="index">الخدمات المعلوماتية  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <!-- single categoris End -->
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="ManagementAr" asp-action="index">إدارة المشاريع <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <br />
                            <img src="assets/images/service/services.jpg" />
                            <!-- single categoris End -->
                        </div>
                    </div>
                    <!-- single wizered End -->
                    <!-- single wizered start -->
                    <!-- single wizered End -->
                    <!-- single wizered start -->
                    <!-- single wizered End -->
                </div>
                <!-- rts- blog wizered end area -->
            </div>

            <div class="row mt--35">


                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                    <div class="thumbnail sm-thumb-service">
                        <img src="assets/images/service/sm-01.jpg" alt="Service">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
                    <h6 class="title">تطوير الاستراتيجية </h6>
                <p class="disc">
    صياغة استراتيجية رابحة هي الركيزة الاساسية لنجاح الأعمال. تتضمن خدمة تطوير الإستراتيجية لدينا تحليلًا متعمقًا وتعاونًا مع فريق القيادة الخاص بك لتحديد أهداف واضحة، وتحديد فرص النمو، ووضع خارطة طريق للنجاح المستدام. مع الحرص على اتجاهات السوق والمنافسة، نقوم بتطوير أطر استراتيجية تتماشى مع رؤيتك، مما يدفع عملك إلى الأمام بثقة.
</p>

                </div>
            </div>
            <div class="row mt--35">
                <div class="col-xl-6 col-lg-6  col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
                    <h6 class="title">تخطيط الأعمال</h6>
                    
                    <p class="disc">
    تزودك خدمة تخطيط الأعمال لدينا بخطط عمل شاملة وقابلة للتنفيذ تحدد المسار لتحقيق أهدافك. من تحديد مؤشرات الأداء الرئيسية إلى تخصيص الموارد بشكل فعال، نقدم خرائط طريق مفصلة لتوجيه نمو مؤسستك وتوجيهك خلال حالات عدم اليقين، مما يضمن لك البقاء على المسار الصحيح للوصول إلى إنجازاتك.
</p>


                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                    <div class="thumbnail sm-thumb-service">
                        <img src="assets/images/service/sm-02.jpg" alt="Service">
                    </div>
                </div>
            </div>




            <div class="row mt--35">


                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                    <div class="thumbnail sm-thumb-service">
                        <img src="assets/images/service/sm-03.jpg" alt="Service">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
                    <h6 class="title">المقتنيات </h6>
                    <p class="disc">
                        يتطلب التنقل في تعقيدات عمليات الدمج والشراء الى ارشادات الخبراء. تقدم خدمة الاستحواذ لدينا العناية الواجبة المتعمقة، تحليل الهدف، والاستشارات الاستراتيجية لدعم عملية صنع القرار الخاصة بك. سواء كنت تفكر في الاندماج أو الاستحواذ أو الشراكة، فإننا نساعدك على تقييم الفرص والتفاوض على شروط مناسبة وتحقيق نتائج ملموسة.
                    </p>


                </div>
            </div>
            <div class="row mt--35">
                <div class="col-xl-6 col-lg-6  col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
                    <h6 class="title">عملية التحسين</h6>
                 <p class="disc">
    أطلق العنان للإمكانات والكفاءة الخفية في عملياتك من خلال خدمة تحسين العمليات الخاصة بنا. يقوم مستشارونا بإجراء عمليات تدقيق شاملة للعملية، وتحديد الصعوبات و المشاكل ونقاط الضعف و قلة الكفاءة. مع التركيز على تبسيط سير العمل مع استراتيجية واضحة، نساعد مؤسستك على تحقيق إنتاجية أعلى وخفض التكاليف وتحسين رضا العملاء و كسب ثقتهم.
</p>


                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-flex flex-column justify-content-center ">
                    <div class="thumbnail sm-thumb-service">
                        <img src="assets/images/service/sm-04.jpg" alt="Service">
                    </div>
                </div>
            </div>





            <div class="row mt--35">


                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-flex flex-column justify-content-center">
                    <div class="thumbnail sm-thumb-service">
                        <img src="assets/images/service/sm-05.jpg" alt="Service">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
                    <h6 class="title">التحليل المالي  </h6>
                  <p class="disc">
                        تحكي الأرقام اسرار و خبايا الاعمال ، وتوفر خدمة التحليل المالي الخاصة بنا رؤية  قيمة حول الصحة المالية لمؤسستك. نقوم بتقييم البيانات المالية بدقة، وتفسير مقاييس الأداء، وإنشاء تقارير شاملة. تمكنك هذه التقارير المستندة إلى البيانات من اتخاذ قرارات واضحة و مؤكدة وإدارة المخاطر بفعالية وتخصيص الموارد المتوفرة على النحو الافضل .
                    </p>

                </div>
            </div>
            <div class="row mt--35">
                <div class="col-xl-6 col-lg-6  col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
                    <h6 class="title">تحليل السوق </h6>
                    <p class="disc">
                        فهم ديناميات السوق أمر حيوي للشركات للحفاظ على قدرتها التنافسية. من خلال خدمة تحليل السوق لدينا، نقوم بجمع وتفسير بيانات السوق وسلوك العملاء واتجاهات الصناعة. مسلحا بهذه المعرفة، يمكنك اتخاذ قرارات استراتيجية مستنيرة، وتحديد الفرص الناشئة، والتكيف بشكل استباقي مع ظروف السوق المتغيرة.
                    </p>

                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                    <div class="thumbnail sm-thumb-service">
                        <img src="assets/images/service/sm-06.jpg" alt="Service">
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</body>