@model ExceedConsultancy.Models.BusinessArModel
@{
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
    ViewBag.Title = "Xeed Consulting  |   القطاع التجاري";
    ViewBag.MetaDescription = "في شركة Xeed Consulting، نعمل عن كثب مع عملائنا لتحديد أعمالهم والغرض التنظيمي، ومساعدتهم على مواءمة قيمهم وأهدافهم لإنشاء بيانات مهمة هادفة ومؤثرة. تمكن خدماتنا الاستشارية الشركات من توضيح غرضها ودمجها في عملياتها اليومية، مما يعزز الشعور بالاتجاه والإلهام للموظفين وأصحاب المصلحة على حد سواء.";
    ViewBag.MetaKeywords = "  القطاع التجاري، الغرض التنظيمي، قيم الشركة،";

}


<body>


    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">القطاع التجاري</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a asp-controller="HomeAr" asp-action="index">الرئيسية</a>
                        <span> / </span>
                       القطاع التجاري
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- end breadcrumb area -->
    <!-- start service details area -->
    <div class="rts-service-details-area rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-12 col-sm-12 col-12">
                    <!-- service details left area start -->
                    <div class="service-detials-step-1">
                        <div class="thumbnail">
                            <img src="assets/images/Organizational-Purpose-1.jpg" alt="القطاع التجاري">
                        </div>
                        <h4 class="title">القطاع التجاري</h4>
                        <p class="disc">
                            فيXeed Consulting، نعتقد أن كل عمل يجب أن يكون له غرض واضح ومقنع. نحن نعمل عن كثب مع عملائنا لتحديد أعمالهم والغرض التنظيمي، ومساعدتهم على مواءمة قيمهم وأهدافهم لإنشاء بيان مهمة هادف ومؤثر. تمكن خدماتنا الاستشارية الشركات من توضيح غرضها ودمجها في عملياتها اليومية، مما يعزز الشعور بالاتجاه والإلهام للموظفين وأصحاب المصلحة على حد سواء.
                        </p>

                    </div>
                    <!-- service details left area end -->

                </div>
                <!--rts blog wizered area -->
                <div class="col-xl-4 col-md-12 col-sm-12 col-12 mt_lg--60 pl--50 pl_md--0 pl-lg-controler pl_sm--0">
                    <!-- single wizered start -->
                    <div class="rts-single-wized Categories service">
                        <div class="wized-header">
                            <h5 class="title">
                                Categories
                            </h5>
                        </div>
                        <div class="wized-body">
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="BusinessAr" asp-action="index">القطاع التجاري  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <!-- single categoris End -->
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="FinanceAr" asp-action="index">تمويل الشركات واستراتيجيتها <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <!-- single categoris End -->
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="TechnologyAr" asp-action="index">قطاع التكنولوجيا<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="ArtificialIntelligenceAr" asp-action="index">الذكاء الاصطناعي<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="MonitoringEvaluationAr" asp-action="index">مراقبة وتطوير الشركات  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="ManufacturingAr" asp-action="index">الصناعة<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="MarketingAr" asp-action="index">النمو والتسويق والمبيعات <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="OperationsAr" asp-action="index">قطاع العمليات <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="ImplementationAr" asp-action="index">التخطيط والتنفيذ<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="OrganizationStrategyAr" asp-action="index">وضع الإسترايجيات<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="PeopleStrategyAr" asp-action="index">الموارد البشرية  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="PricingAr" asp-action="index">وضع الأسعار وإدارة الموارد  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="BudgetingAr" asp-action="index">تنظيم الميزانية والمصاريف<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="RiskManagementAr" asp-action="index">إدارة المخاطر وتجاوزها  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="InnovationAr" asp-action="index">استراتيجية الابتكار والتسليم  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>

                            @*   <br />*@
                            @*<img src="assets/images/service/services.jpg" />*@
                            <!-- single categoris End -->
                        </div>
                    </div>

                </div>
            </div>

            @*<div class="row mt--35">


            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
            <div class="thumbnail sm-thumb-service">
            <img src="assets/images/service/sm-01.jpg" alt="Service">
            </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
            <h6 class="title">Strategy development </h6>
            <p class="disc">
            Crafting a winning strategy is the cornerstone of business success. Our Strategy Development service involves in-depth analysis and collaboration with your leadership team to define clear objectives, identify growth opportunities, and devise a roadmap for sustainable success. With a keen eye on market trends and competition, we develop strategic frameworks that align with your vision, driving your business forward with confidence.

            </p>


            </div>
            </div>
            <div class="row mt--35">
            <div class="col-xl-6 col-lg-6  col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
            <h6 class="title">Business Planning </h6>

            <p class="disc">
            Our Business Planning service equips you with comprehensive and actionable business plans that outline the path to achieving your goals. From identifying key performance indicators (KPIs) to allocating resources effectively, we provide detailed roadmaps to guide your organization's growth and steer you through uncertainties, ensuring you stay on track to reach your milestones.

            </p>


            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
            <div class="thumbnail sm-thumb-service">
            <img src="assets/images/service/sm-02.jpg" alt="Service">
            </div>
            </div>
            </div>*@




            @*<div class="row mt--35">


            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
            <div class="thumbnail sm-thumb-service">
            <img src="assets/images/service/sm-03.jpg" alt="Service">
            </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
            <h6 class="title">Acquisitions </h6>
            <p class="disc">
            Navigating the complexities of mergers and acquisitions demands expert guidance. Our Acquisitions service offers in-depth due diligence, target analysis, and strategic advisory to support your decision-making process. Whether you are considering a merger, acquisition, or partnership, we help you evaluate opportunities, negotiate favorable terms, and achieve synergistic outcomes.

            </p>


            </div>
            </div>
            <div class="row mt--35">
            <div class="col-xl-6 col-lg-6  col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
            <h6 class="title">Process optimization</h6>
            <p class="disc">
            Unlock hidden potential and efficiency within your operations through our Process Optimization service. Our consultants conduct thorough process audits, identifying bottlenecks and inefficiencies. With a focus on streamlining workflows and implementing best practices, we help your organization achieve higher productivity, reduced costs, and improved customer satisfaction.

            </p>


            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-flex flex-column justify-content-center ">
            <div class="thumbnail sm-thumb-service">
            <img src="assets/images/service/sm-04.jpg" alt="Service">
            </div>
            </div>
            </div>





            <div class="row mt--35">


            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-flex flex-column justify-content-center">
            <div class="thumbnail sm-thumb-service">
            <img src="assets/images/service/sm-05.jpg" alt="Service">
            </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
            <h6 class="title">Financial analysis  </h6>
            <p class="disc">
            Navigating the complexities of mergers and acquisitions demands expert guidance. Our Acquisitions service offers in-depth due diligence, target analysis, and strategic advisory to support your decision-making process. Whether you are considering a merger, acquisition, or partnership, we help you evaluate opportunities, negotiate favorable terms, and achieve synergistic outcomes.

            </p>


            </div>
            </div>
            <div class="row mt--35">
            <div class="col-xl-6 col-lg-6  col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
            <h6 class="title">Market analysis </h6>
            <p class="disc">
            Understanding market dynamics is vital to stay competitive. With our Market Analysis service, we gather and interpret market data, customer behavior, and industry trends. Armed with this knowledge, you can make informed strategic decisions, identify emerging opportunities, and adapt proactively to dynamic market conditions.
            </p>


            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
            <div class="thumbnail sm-thumb-service">
            <img src="assets/images/service/sm-06.jpg" alt="Service">
            </div>
            </div>
            </div>*@
        </div>
    </div>

</body>