@model ExceedConsultancy.Models.AboutArModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutAr.cshtml";

    ViewBag.Title = "Exceed Consultancy | الحلول الابتكارية | الخدمات الإدارية";
    ViewBag.MetaDescription = "توفير الخدمات الإدارية الشاملة وبرامج الصحة والاستثمارات في العقارات والصناعة والزراعة. شراكة مع الشركات العالمية الرائدة.";
    ViewBag.MetaKeywords = "اكسيد للاستشارات, تمكين الأعمال, الابتكار, الخبرة الاستراتيجية, الحلول الابتكارية, التحديات المعقدة, فرص النمو, النجاح المستدام";




}


<body>

    <div class="search-input-area">
        <div class="container">
            <div class="search-input-inner">
                <div class="input-div">
                    <input id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                    <button><i class="far fa-search"></i></button>
                </div>
            </div>
        </div>
        <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
    </div>

    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">من نحن </h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a asp-controller="Home" asp-action="index">الرئيسية</a>
                        <span> / </span>
من نحن
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- rts about us section start -->
    <div class="rts-about-area rts-section-gap">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5">
                    <div class="about-image-v-inner">
                        <div class="image-area">
                            <img class="mt--110 img-1" src="assets/images/about/main/about-03.jpg" alt="BUsiness_image">
                            <img class="img-over" src="assets/images/about/main/about-04.jpg" alt="BUsiness_image">
                            <!-- <div class="goal-button-wrapper">
                                <div class="vedio-icone">
                                    <a id="play-video" class="video-play-button" href="#">
                                        <span></span>
                                    </a>
                                    <div id="video-overlay" class="video-overlay">
                                        <a class="video-overlay-close">×</a>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="about-progress-inner">
                        <div class="title-area">
                            @*   <span></span>*@
                            <h2 class="title">من نحن</h2>
                        </div>
                        <!-- inner start -->
                        <div class="inner">
                            <p class="disc">
                                أسست شركة Exceed Consultancy بهدف المساعدة في نمو الشركات من خلال الأعمال المبتكرة والاستراتيجيات القائمة على التكنولوجيا. منذ نشأتنا، دخلنا في شراكة مع العديد من المنظمات عبر مختلف مجالات الاعمال، وتقديم نتائج ملموسة و مميزة.

نحن ملتزمون بمساعدة المؤسسات على الازدهار من خلال خبرتنا الاستراتيجية وحلولنا المبتكرة، كما نمكن الشركات من التغلب على التحديات المعقدة، واغتنام فرص النمو، وتحقيق النجاح المستدام.

انبثقت شركة إكسيد للإستشارات من رؤية مشتركة لفريق من الاستشاريين المتمرسين الذين أدركوا مدى اهمية  الجمع بين الخبرة التجارية والتكنولوجيا المتطورة. على مر السنين، قمنا ببناء سمعة راسخة لتقديم نتائج ملموسة وقيادة التغيير الإيجابي لعملائنا. كان التزامنا بالتميز والتعلم المستمر والنهج الذي يركز على العميل الركيزة الاساسية في نجاحنا.
 </p>
                            <!-- <div class="rts-progress-one-wrapper">
                                <div class="single-progress">
                                    <div class="progress-top">
                                        <p class="progress-title">Business Strategy</p>
                                        <span class="persectage">70%</span>
                                    </div>
                                    <div class="meter cadetblue">
                                        <span data-progress="70" style="width:0;"></span>
                                    </div>
                                </div>
                                <div class="single-progress">
                                    <div class="progress-top">
                                        <p class="progress-title">Company Strength</p>
                                        <span class="persectage">93%</span>
                                    </div>
                                    <div class="meter">
                                        <span data-progress="93" style="width:0;"></span>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="rts-btn btn-primary">Make an Appointment</a>-->




                        </div>
                        <div class="inner-about-three ">

                            <!-- <h4>Join Us on Your Journey to Success</h4> -->
                            <p class="disc mt-3">
                                <!-- <div class="title-area">
                                    <span>Join Us</span>
                                    <h2 class="title">Join Us on Your Journey to Success</h2>
                                </div> -->
                                <span style="font-size:20px; color: #104e7e;">مهمتنا</span><br />
                  "لتمكين الشركات من خلال استراتيجيات مبتكرة وحلول تعتمد على التكنولوجيا، وتعزيز النمو والنجاح المستدام في عالم ديناميكي ورقمي."

                            </p>

                            <p class="disc">
                                <span style="font-size:20px; color: #104e7e;">رؤيتنا </span><br />"أن نكون شريكًا عالميًا رائدًا للشركات، ونحدث ثورة في الصناعات من خلال استراتيجيات الأعمال المبتكرة والحلول التكنولوجية، وتمكين عملائنا من تحقيق نمو ونجاح لا مثيل لهما."
                            </p>

                            <!-- start -->
                            @* <div class="row">
                            <!-- start -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="solution-wrapper">
                            <!-- single business solution -->
                            <div class="single-business-solution">
                            <i class="far fa-check"></i>
                            <p>Empower businesses with innovation</p>
                            </div>
                            <!-- single business solution -->
                            <!-- single business solution -->
                            <div class="single-business-solution">
                            <i class="far fa-check"></i>
                            <p>Drive sustainable growth</p>
                            </div>
                            <!-- single business solution -->
                            <!-- single business solution -->
                            <div class="single-business-solution">
                            <i class="far fa-check"></i>
                            <p>Utilize tech-driven solutions</p>
                            </div>
                            <!-- single business solution -->
                            <!-- single business solution -->
                            <div class="single-business-solution">
                            <i class="far fa-check"></i>
                            <p>Foster dynamic success</p>
                            </div>
                            <!-- single business solution -->
                            </div>
                            </div>
                            <!-- end -->
                            <!-- start -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 ">
                            <div class="solution-wrapper-right">
                            <!-- single business solution -->
                            <div class="single-business-solution">
                            <i class="far fa-check"></i>
                            <p>Leading global partner</p>
                            </div>
                            <!-- single business solution -->
                            <!-- single business solution -->
                            <div class="single-business-solution">
                            <i class="far fa-check"></i>
                            <p>Revolutionizing industries</p>
                            </div>
                            <!-- single business solution -->
                            <!-- single business solution -->
                            <div class="single-business-solution">
                            <i class="far fa-check"></i>
                            <p>Innovative business strategies </p>
                            </div>
                            <!-- single business solution -->
                            <!-- single business solution -->
                            <div class="single-business-solution">
                            <i class="far fa-check"></i>
                            <p>Empowering unparalleled growth</p>
                            </div>
                            <!-- single business solution -->
                            </div>
                            </div>
                            <!-- end -->
                            </div>*@
                        </div>

                        <!-- end -->
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- rts about us section end -->
    <div class="rts-faq-section rts-section-gap rts-faq-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="faq-two-inner">
                        <div class="title-area-faq">
                            <span class="sub">لماذا نحن</span>
                            <h2 class="title">
                              نحن نعلم أن كل
                                <span class="sm-title">شركة <span>لديها عوامل و ظروف خاصة</span></span>
                            </h2>


                            <p>نحن نفهم أن كل شركة لديها مجال فريد من نوعه، كما تمر بظروف و عوامل خاصة فكل عمل لديه خاصية معينة ولا يوجد حل واحد يناسب الجميع. يتضمن اسلوبنا أن نتعمق في الاحتياجات والتحديات والأهداف المحددة لمؤسستك لصياغة حلول مخصصة لك و تنسجم مع العوامل الخاصة بك.      </p>

                        </div>
                        <!-- faq accordion area -->
                       @* <div class="faq-accordion-area">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            <span>01. </span> فريق الخبراء
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                         aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            تتميز استشارتنا بفريق من المهنيين ذوي المهارات العالية، كل منهم يجلب ثروة من الخبرة والمعرفة إلى المشروع. من محللي الأعمال إلى مهندسي التكنولوجيا ومديري المشاريع والمتخصصين في مجالات الاعمال و الخدمات الطبية، يضمن تجمع المواهب المتنوع لدينا أنه يمكننا معالجة مجموعة واسعة من التحديات عبر مختلف القطاعات باسلوب مميز و متكامل.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                            <span>02. </span>التركيز على العميل
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                         aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            نحن نعطي الأولوية لنجاح عملائنا قبل كل شيء.  
                                            يعتمد اسلوبنا على العمل عن كثب مع فريقك، وفهم رؤيتك، و انسجام استراتيجياتنا مع أهداف عملك. نجاحك هو نجاحنا، ونحن نفخر بكوننا شريكا موثوقا به طوال رحلة النمو و التطور الخاصة بك.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                            <span>03. </span>حلول مبتكرة
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                         aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            في عالم سريع الخطى، يعد البقاء في الطليعة أمرا صعباً و بالغ الأهمية. نبقى على اطلاع دائم بأحدث اتجاهات الصناعة والتقنيات الناشئة لتقديم حلول مبتكرة تمنحك ميزة تنافسية. سواء كان ذلك من خلال تسخير قوة تحليلات البيانات أو دمج الذكاء الاصطناعي، فإن حلولنا واقية من المستقبل ومصممة لدفع شركتك باتجاه النمو المستدام.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingfour">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapsefour"
                                                aria-expanded="false" aria-controls="collapsefour">
                                            <span>04. </span> الممارسات الأخلاقية
                                        </button>
                                    </h2>
                                    <div id="collapsefour" class="accordion-collapse collapse"
                                         aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            النزاهة والممارسات الأخلاقية هي في صميم كل ما نقوم به. نحن نتمسك بأعلى معايير الاحتراف، ضمان الشفافية و السرية  في جميع تفاعلاتنا وارتباطاتنا.


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@



                                      <div class="accordion-area inner inner2 pt-4">
                                           
                                            <div class="accordion-one-inner inner">
                                                <div class="accordion" id="accordionExample4">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingOne">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapseOne">
                                                                <span>01. </span> فريق الخبراء
                                                            </button>
                                                        </h2>
                                                        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample4" style="">
                                                                                   <div class="accordion-body">
                                            تتميز استشارتنا بفريق من المهنيين ذوي المهارات العالية، كل منهم يجلب ثروة من الخبرة والمعرفة إلى المشروع. من محللي الأعمال إلى مهندسي التكنولوجيا ومديري المشاريع والمتخصصين في مجالات الاعمال و الخدمات الطبية، يضمن تجمع المواهب المتنوع لدينا أنه يمكننا معالجة مجموعة واسعة من التحديات عبر مختلف القطاعات باسلوب مميز و متكامل.
                                        </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingTwo">
                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapseTwo">
                                                <span>02. </span>التركيز على العميل
                                                            </button>
                                                        </h2>
                                                        <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample4" style="">
                                            <div class="accordion-body">
                                                نحن نعطي الأولوية لنجاح عملائنا قبل كل شيء.
                                                يعتمد اسلوبنا على العمل عن كثب مع فريقك، وفهم رؤيتك، و انسجام استراتيجياتنا مع أهداف عملك. نجاحك هو نجاحنا، ونحن نفخر بكوننا شريكا موثوقا به طوال رحلة النمو و التطور الخاصة بك.
                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingThree">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapseThree">
                                                            <span>03. </span>حلول مبتكرة
                                                            </button>
                                                        </h2>
                                                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample4">
                                                            <div class="accordion-body">
                                            في عالم سريع الخطى، يعد البقاء في الطليعة أمرا صعباً و بالغ الأهمية. نبقى على اطلاع دائم بأحدث اتجاهات الصناعة والتقنيات الناشئة لتقديم حلول مبتكرة تمنحك ميزة تنافسية. سواء كان ذلك من خلال تسخير قوة تحليلات البيانات أو دمج الذكاء الاصطناعي، فإن حلولنا واقية من المستقبل ومصممة لدفع شركتك باتجاه النمو المستدام.
                                        </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingFour">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapseFour">
                                                     <span>04. </span> الممارسات الأخلاقية
                                                            </button>
                                                        </h2>
                                                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample4">
                                             <div class="accordion-body">
                                            النزاهة والممارسات الأخلاقية هي في صميم كل ما نقوم به. نحن نتمسك بأعلى معايير الاحتراف، ضمان الشفافية و السرية  في جميع تفاعلاتنا وارتباطاتنا.


                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                        <!-- faq accordion area end -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail-faq-four">
                        <img src="assets/images/faq/02.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
       <!-- rts-team details area Start-->
    <div class="rts-team-details rts-section-gap">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div class="details-thumb">
                        <img src="assets/images/Leadership.jpg" alt="Leadership">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 pl--35 pl_sm--15">
                    <div class="details-right-inner">
                        <div class="title-area">
                            @*<span class="pre-title">
                               Leadership 
                            </span>*@
                            <h3 class="title">القيادة</h3>
                        </div>
                        
                        <p class="disc">
                            في Exceed Consultancy، يتم كتابة قصة نجاحنا من قبل الأفراد الديناميكين الذين يقودون ، والغرض الذي لا يتزعزع والذي يدفعنا ، والقيم الأساسية التي توجه كل عمل لدينا.<br />
                            يتكون فريق القيادة لدينا من محترفين متمرسين يتمتعون بسجل حافل من التميز في مختلف الصناعات. خبرتهم الواسعة ورؤاهم العميقة في أصعب التقيدات هي القوة الدافعة وراء استشارتنا. إنهم يقودون بحكمة وقوة ، ويغرسون المنظمة بثقافة الابتكار والتعاون والتركيز على العميل.
                            <br /> قادتنا ليسوا مجرد خبراء ، بل هم شركاؤكم في تحقيق النجاح. التزامهم الكامل والتفاني في النمو الخاص بك هي حجر الزاوية في الاستشارات لدينا.
                        </p>
                        <a asp-controller="QuoteAr" asp-action="Index" class="rts-btn btn-primary"> تواصل معنا</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rts-accordion-area service rts-section-gap inner">
        <div class="accordion-service-bg bg_image inner">
            <div class="container">
                <div class="row">



                       <div class="col-xl-6 ">
                        <div class="accordion-service-inner inner">
                            <div class="title-area-start">
                                <h2 class="title">كيف نعمل</h2>

                                <p>في Exceed Consultancy، نهجنا للاستشارات في التعاون والشفافية، وتقديم نتائج قابلة للقياس. نحن نتفهم أن كل منظمة فريدة من نوعها، ونقوم بتصميم منهجيتنا لتناسب احتياجاتك الخاصة.وإليك نظرة فاحصة على كيفية عملنا
                            
                                </p>
                                </div>
                            <div class="accordion-area">
                                <div class="accordion" id="accordionExample3">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFive">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                                1.  الاستشارة الأولية
                                            </button>
                                        </h2>
                                        <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                              تبدأ رحلتنا معا باستشارة متعمقة. خلال هذه المرحلة ، نأخذ الوقت الكافي لفهم أهداف مؤسستك وتحدياتها وتطلعاتها. نعتقد أن الفهم الشامل لظروفك الفريدة أمر ضروري لصياغة استراتيجيات فعالة.</div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSix">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                2. تقييم الاحتياجات
                                            </button>
                                        </h2>
                                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                                بمجرد أن تكون لدينا صورة واضحة عن مؤسستك ، نقوم بإجراء تقييم شامل للاحتياجات. يتضمن ذلك الغوص العميق في العمليات الحالية ومقاييس الأداء وديناميكيات الصناعة. نحدد مجالات التحسين وفرص النمو.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSeven">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                3. التطوير الإستراتيجي
                                            </button>
                                        </h2>
                                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                               من خلال المعلومات التي تم جمعها من تقييم الاحتياجات، نقوم بتطوير استراتيجية مخصصة مصممة خصيصا لأهدافك. استراتيجيتنا ليست حلا واحدا يناسب الجميع؛ إنها خارطة طريق مصممة خصيصا لنجاح مؤسستك. نحن نشركك في عملية تطوير الإستراتيجية، مما يضمن التوافق مع رؤيتك.  </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingEight">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                4. التخطيط والتنفيذ
                                            </button>
                                        </h2>
                                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                                الاستراتيجية بدون عمل هي مجرد خطة. نحن نشمر عن سواعدنا ونعمل جنبا إلى جنب مع فريقك لتنفيذ الاستراتيجيات التي طورناها. يقدم مستشارونا التوجيه والدعم والمساعدة العملية لضمان التنفيذ السلس للخطة.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingNine">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                               5. القياس والتقييم المستمر
                                            </button>
                                        </h2>
                                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                                نحن نؤمن بالتحسين المستمر. خلال مشاركتنا، نراقب التقدم المحرز مقابل مؤشرات الأداء الرئيسية المحددة مسبقا. إذا رأينا أن هناك حاجة إلى تعديلات لتحقيق أهدافك، فإننا نكيف ونحسن استراتيجياتنا وفقا لذلك.</div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTen">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                                6. الشفافية
                                            </button>
                                        </h2>
                                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">الشفافية هي قيمة أساسية في نهجنا. نحافظ على خطوط اتصال مفتوحة طوال شراكتنا. ستتلقى تحديثات منتظمة حول التقدم والتحديات والفرص. ونحن نشجع الأسئلة وردود الفعل لضمان أن تكون على علم تام وتشارك في هذه العملية.  </div>
                                        </div>
                                    </div>
                                   <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingEleven">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                                7. التعاون
                                            </button>
                                        </h2>
                                        <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                         نحن لا نعمل في عزلة ؛ نحن نعمل بشكل تعاوني مع فريقك. نحن نؤمن بالاستفادة من الخبرة والرؤى الداخلية لمؤسستك. من خلال العمل معا ، نخلق تآزرا يعزز فعالية استراتيجياتنا  .</div>
                                        </div>
                                    </div>
                                     <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwelve">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTweleve" aria-expanded="false" aria-controls="collapseTweleve">
                                                8. المرونة
                                            </button>
                                        </h2>
                                        <div id="collapseTweleve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                             نحن نتفهم أن مشهد الأعمال يتغير باستمرار. نهجنا قابل للتكيف. إذا ظهرت تحديات غير متوقعة أو تحولت ديناميكيات السوق ، فنحن على استعداد للتركيز على استراتيجياتنا وتعديلها لإبقائك على طريق النجاح  </div>
                                          </div>
                                    </div>
                                     <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThirtin">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirtin" aria-expanded="false" aria-controls="collapseThirtin">
                                                9. تبادل المعرفة
                                            </button>
                                        </h2>
                                        <div id="collapseThirtin" class="accordion-collapse collapse" aria-labelledby="headingThirtin" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                              نحن نساهم في تمكين عملائنا  بالمعرفة الضرورية. خلال مشاركتنا ، نقدم التدريب ونقل المعرفة للتأكد من أن فريقك لديه المهارات والفهم للحفاظ على التحسينات التي قمنا بتنفيذها   </div>
                                        </div>


                                        </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFoutin">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFoutin" aria-expanded="false" aria-controls="collapseFoutin">
                                                10. شراكة طويلة الأجل
                                            </button>
                                        </h2>
                                        <div id="collapseFoutin" class="accordion-collapse collapse" aria-labelledby="headingFoutin" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                                        التزامنا لا ينتهي مع الانتهاء من المشروع. نحن نهدف إلى بناء شراكات طويلة الأمد مع عملائنا. مع تطور مؤسستك، سنكون هناك لدعمك، وتقديم التوجيه والحلول لمواجهة التحديات الجديدة واغتنام الفرص الجديدة.
                                                        في Exceed Consultancy ،نحن لسنا مجرد استشاريين؛ نحن شركاؤك المتفانين في تحقيق أهداف عملك. يعتمد نهجنا على التعاون والشفافية والالتزام المشترك بنجاح.
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
           
             <div class="col-xl-6 pt-sm-4">

                    <div class="accordion-service-inner">
                        <div class="title-area-start">
                               
                            <h2 class="title">
                                    التزامنا
                            </h2>
                                        <p>في Exceed Consultancy، التزامنا لعملائنا هو حجر الزاوية في ممارستنا الاستشارية. نحن نتفهم أن تكليفنا بتحديات وتطلعات عملك هو قرار مهم، ونحن نأخذ هذه المسؤولية على محمل الجد. التزامنا الدائم لك هو ما يميزنا.
                                    </div>
                        <div class="accordion-area">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                نجاحك هو عملنا
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                                        التزامنا قبل كل شيء هو نجاحك. عندما تختار Exceed Consultancy، فأنت لا تقوم فقط بتعيين شركة استشارية ؛ أنت تكتسب شريكا مكرسا لمساعدتك في تحقيق أهدافك. تصبح أهدافك مهمتنا ، ونحن نعمل بلا كلل لضمان تحقيقها.
                                                    </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                فهم احتياجاتك الفريدة
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                                        نحن ملتزمون بفهم التحديات والاحتياجات الفريدة الخاصة بك. لا يوجد شركتان متشابهتان ، ونادرا ما تسفر حلول قطع ملفات تعريف الارتباط عن نتائج ذات مغزى. نحن نأخذ الوقت الكافي للاستماع والتعرف على مؤسستك, وأهدافك. يشكل هذا الالتزام بالتفاهم أساس نهجنا الاستشاري.
                                                    </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        صياغة حلول مصممة خصيصا
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            حجم واحد لا يناسب الجميع. يمتد التزامنا إلى صياغة حلول مصممة خصيصا تتوافق مع أهدافك. ونحن نعتمد على خبرتنا الواسعة لوضع استراتيجيات ليست فعالة فحسب، بل مستدامة أيضا على المدى الطويل. حلولنا فريدة من نوعها مثل عملك. </div>
                                    </div>
                                </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                               الشفافية والتعاون
                                            </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                        نحن نؤمن بالشراكات المفتوحة والشفافة. في جميع أنحاء مشاركتنا ، ونحن ملتزمون بوضعكم بطل جديد ومشاركتنا. يضمن نهجنا التعاوني أنك مشارك نشط في عملية صنع القرار. نحن نقدر رؤيتك وردود الفعل ودمجها في استراتيجياتنا.
                                                    </div>
                                        </div>
                                    </div>

                                  
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSIX">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSIX" aria-expanded="false" aria-controls="collapseSIX">
                                               قياس التقدم والتكيف
                                            </button>
                                        </h2>
                                        <div id="collapseSIX" class="accordion-collapse collapse" aria-labelledby="headingSIX" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                        التزامنا لا ينتهي بتنفيذ الحلول. نقيس باستمرار التقدم المحرز مقابل الأهداف المحددة مسبقا ومؤشرات الأداء الرئيسية. إذا كانت هناك حاجة إلى تعديلات ،فنحن نقوم بذلك ونتكيف مع كل جديد، وعلى استعداد لتحسين استراتيجياتنا لضمان النجاح.
                                                    </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSEVEN">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSEVEN" aria-expanded="false" aria-controls="collapseSEVEN">
                                               فريق متخصص من الخبراء
                                            </button>
                                        </h2>
                                        <div id="collapseSEVEN" class="accordion-collapse collapse" aria-labelledby="headingSEVEN" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                           نحن نتمسك بأعلى معايير الممارسات التجارية الأخلاقية. التزامنا بالنزاهة والصدق لا يتزعزع. ونحن نعتقد أن الثقة هي أساس الشراكات الناجحة ، ونحن نكسب ثقتكم من خلال أعمالنا ونتائجنا.</div>
                                        </div>
                                    </div>
                                    
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingEIGHT">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEIGHT" aria-expanded="false" aria-controls="collapseEIGHT">
                                                الممارسات التجارية الأخلاقية
                                            </button>
                                        </h2>
                                        <div id="collapseEIGHT" class="accordion-collapse collapse" aria-labelledby="headingEIGHT" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                             ن نتمسك بأعلى معايير الممارسات التجارية الأخلاقية. التزامنا بالنزاهة والصدق لا يتزعزع. ونحن نعتقد أن الثقة هي أساس الشراكات الناجحة ، ونحن كسب ثقتكم من خلال أعمالنا ونتائجنا.  </div>
                                        </div>
                                    </div>

                                      <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingNEINE">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNEINE" aria-expanded="false" aria-controls="collapseNEINE">
                                           شراكة طويلة الأجل
                                            </button>
                                        </h2>
                                        <div id="collapseNEINE" class="accordion-collapse collapse" aria-labelledby="headingNEINE" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                            يمتد التزامنا إلى ما هو أبعد من المشروع الفوري. نحن نهدف إلى بناء شراكات طويلة الأمد مع عملائنا. مع تطور عملك ، سنكون هناك لدعمك ، وتقديم التوجيه والحلول لمواجهة التحديات الجديدة واغتنام الفرص الجديدة. </div>
                                        </div>
                                    </div>

                                     <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTEN">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTEN" aria-expanded="false" aria-controls="collapseTEN">
                                                        أهدافك ، مهمتنا
                                            </button>
                                        </h2>
                                        <div id="collapseTEN" class="accordion-collapse collapse" aria-labelledby="headingTEN" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                         
                                                        في تتجاوز الاستشارات ، تصبح أهدافك مهمتنا. نحن لسنا مجرد مستشارين ؛ نحن شركاء في رحلتك إلى النجاح. التزامنا هو أن نكون معك في كل خطوة على الطريق ، مما يساعدك على فهم تعقيدات المشهد التجاري.
                                           .عندما تختار Exceed Consultancy، فأنت تختار شركة استشارية ملتزمة بشدة بنجاحك. إن أهدافكم ليست مجرد أهداف ، بل هي التزامنا.
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                      </div>
              </div>

              <p class="mb-0 pt-4">اتصل بنا اليوم لمعرفة المزيد حول كيفية عملنا وكيف يمكننا مساعدتك في تحويل عملك. نجاحك هو مهمتنا ، ومعا ، ونحن سوف نجعل ذلك يحدث.</p>
                                    <div class="details-right-inner">
                                      <a asp-controller="QuoteAr" asp-action="Index" class="rts-btn btn-primary"> تواصل معنا</a>
                                    </div>
                </div>
             </div>
         </div>
  </div>
   

    <div class="rts-about-area rts-section-gap bg-about-sm-shape Purpose" id="about-us">
        <div class="container">
            <div class="row g-5 align-items-center">
                <!-- about left -->
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-1 order-md-2 order-sm-2 order-2 mt_md--50 mt_sm--50">
                    <div class="rts-title-area">
                       @* <p class="pre-title">
                            Exceed Consultancy
                        </p>*@
                        <h2 class="title">
                            طموحنا
                        </h2>
                    </div>
                    <div class="about-inner">
                        <p class="disc">
                            في Exceed Consultancy، نطمح إلى أن نكون أكثر من مجرد شركة استشارية ؛ نطمح إلى أن نكون شريكك الاستراتيجي في رحلة النجاح. إن تطلعاتنا متجذرة في رؤية عالم أعمال مزدهر ، حيث تمتلك كل منظمة الأدوات والمعرفة والدعم ليس فقط للتكيف مع التغيير ، ولكن للتفوق فيه.
                        </p>
                        <p class="disc">
                            <span style="font-size:20px; color: #104e7e;">تمكين نجاحك</span>
                            <br>
                            طموحنا الأساسي بسيط ولكنه عميق:   <span style="font-size:20px; color: #104e7e;">تمكين المؤسسات من تحقيق إمكاناتها الكاملة. </span> عتقد أن كل عمل ، بغض النظر عن حجمه أو صناعته ، لديه إمكانات غير مستغلة في انتظار اكتشافها. يتمثل دورنا في إطلاق هذه الإمكانات ومساعدتك على تحقيق نتائج ملحوظة.
                        </p>

                      <div class="accordion-area inner inner2">
                        <div class="accordion-one-inner inner">
                            <div class="accordion" id="accordionExample4">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwelve">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapseTwelve">
                                                <span>01.</span> رعاية النمو
                                        </button>
                                    </h2>
                                    <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample4" style="">
                                        <div class="accordion-body">
                                                نطمح إلى تعزيز النمو بكل معنى الكلمة. نحن لا نهدف فقط لتحقيق مكاسب قصيرة الأجل ؛ نحن في ذلك على المدى الطويل. تم تصميم حلولنا الاستشارية لتعزيز النمو المستدام الذي يتجاوز تقلبات السوق والتحديات الاقتصادية.
                                            </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThirty">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapseThirty">
                                                <span>02.</span> قيادة الابتكار
                                        </button>
                                    </h2>
                                    <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="headingThirty" data-bs-parent="#accordionExample4" style="">
                                        <div class="accordion-body">
                                                الابتكار هو في صميم التقدم ، ونحن نطمح لدفع الابتكار داخل مؤسستك. نحن نشجع التفكير الإبداعي ، وجهات نظر جديدة ، واعتماد التقنيات المتطورة. هدفنا هو مساعدتك على البقاء في الطليعة وتكون رائدة في مجال عملك.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFourty">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapsegFourty">
                                                <span>03.</span>بناء المرونة
                                        </button>
                                    </h2>


                                    <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="headingFourty" data-bs-parent="#accordionExample4">
                                        <div class="accordion-body">
                                                إن مشهد الأعمال يتغير باستمرار ، ونحن نطمح إلى بناء المرونة داخل مؤسستك. وضعت استراتيجياتنا لجعل مؤسستك رشيقة وقابلة للتكيف ، وعلى استعداد للتغلب على أي تحد.
                                        </div>
                                    </div>
                                </div>


                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFivty">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapseFivty">
                                                <span>04.</span> خلق تأثير إيجابي
                                        </button>
                                    </h2>
                                    <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="headingFivty" data-bs-parent="#accordionExample4" style="">
                                        <div class="accordion-body">
                                                ونحن نطمح إلى خلق تأثير إيجابي ليس فقط على الخط الخاص بك ولكن أيضا على المجتمع والبيئة. يضمن التزامنا بالاستدامة والمسؤولية الاجتماعية للشركات أن يتماشى نجاحك مع الممارسات الأخلاقية ويساهم بشكل إيجابي في العالم.
                                        </div>
                                    </div>
                                </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSixty">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapseSixty">
                                                <span>05.</span> تعزيز الشراكات التعاونية
                                    </h2>
                                    <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="headingSixty" data-bs-parent="#accordionExample4" style="">
                                        <div class="accordion-body">
                  نطمح إلى بناء أكثر من مجرد علاقات بين العميل والمستشار ؛ نحن نهدف إلى تعزيز الشراكات التعاونية. عندما تختار Exceed Consultancy، تكسب فريقا من الأفراد المتفانين الذين يستثمرون بعمق في نجاحك. معا ، سنحقق معالم كان يعتقد في السابق أنها بعيدة المنال.
                                        </div>
                                    </div>
                                </div>


                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSeventy">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapseSeventy">
                                                <span>06.</span> إطلاق العنان للإمكانات
                                            </button>
                                        </h2>
                                        <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="headingSeventy" data-bs-parent="#accordionExample4" style="">
                                            <div class="accordion-body">
                                                طموحنا النهائي هو مساعدتك على إطلاق العنان لإمكانات مؤسستك الكاملة. نعتقد أنه لا توجد حدود لما يمكن أن يحققه فريق متخصص ، مسلح بالاستراتيجيات الصحيحة. نجاحك هو مقياس الإنجاز لدينا.
                                            </div>
                                        </div>
                                    </div>




                            </div>
                        </div>
                      </div>
                        <p class="disc">
                            في Exceed Consultancy، طموحنا ليس فقط حول الأعمال التجارية ؛ ولكن عن الرحلة التي ننطلق معك. يتعلق الأمر بالتأثير التحويلي الذي يمكننا إنشاؤه معا. ندعوكم للانضمام إلينا في تحقيق هذا الطموح من خلال الاتصال بنا اليوم.
نجاحك ليس فقط طموحنا؛ إنه التزامنا. معا ، سنحول التطلعات إلى إنجازات.

                        </p>
                     


                    </div>
                </div>
                <!-- about right -->
                <!-- about-right Start-->
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-2 order-md-1 order-sm-1 order-1">
                    <div class="about-one-thumbnail">
                        <img src=" assets/images/aspiration.jpg" alt="aspiration">
                     
                    </div>
                </div>
                <!-- about-right end -->
            </div>
        </div>
    </div>









    <div class="rts-service-area rts-section-gapBottom" id="services">
        <div class="container-fluid service-main plr--120-service mt--50 plr_md--0 pl_sm--0 pr_sm--0">
            <div class="row">
                <div class="cta-one-bg col-12">
                    <div class="cta-one-inner">
                        <div class="cta-left">
                            <h3 class="title animated fadeIn">
                                دعونا نناقش حول كيف يمكننا المساعدة في جعل عملك أفضل
                            </h3>
                        </div>
                        <div class="cta-right">
                            <a class="rts-btn btn-white" asp-controller="QuoteAr" asp-action="Index">توصل معنا</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="rts-business-goal mt--0 rts-section-gapBottom">
        <div class="container">
            <div class="row">
                <!-- business goal left -->
                <div class="col-lg-6">
                    <div class="business-goal-one">
                        <img src="assets/images/team.jpg" alt="Business_Goal">
                        <img class="small Business" src="assets/images/team1.jpg" alt="Business_Goal">
                    </div>
                </div>
                <!-- business goal right -->
                <!-- right area business -->
                <div class="col-lg-6 mt--35 mt_md--70 mt_sm--70">
                    <div class="business-goal-right text-right">
                        <div class="rts-title-area business text-start pl--30">
                           @* <p class="pre-title">
                                Exceed Consultancy
                            </p>*@
                            <h2 class="title text-right ">
                                 فريقنا
                            </h2>
                        </div>
                        <div class="rts-business-goal ">
                            <div class="single-goal">

                                <div class="goal-wrapper">
                                    @*<h6 class="title">Best Business Consulting</h6>*@
                                    <p class="disc">
                                        في  Exceed Consultancy، فريقنا هو القوة الدافعة وراء نجاحنا. نحن نفخر بمجموعتنا المتنوعة والموهوبة من المهنيين الملتزمين بمساعدة مؤسستك على الازدهار. تعرف على الأفراد الذين سيكونون بجانبك في رحلة النجاح:
                                        تكمن قوة فريقنا في تنوعهم وخبرتهم والتزامهم المشترك بنجاحك. نحن أكثر من مجرد مستشارين ؛ نحن شركاؤك المتفانون في تحقيق أهداف عملك.
                                  عند   ما تختار  Exceed Consultancy، فأنت لا تحصل فقط على شركة استشارية ؛ أنت تكتسب فريقا من الأفراد المتحمسين الذين يستثمرون بعمق في نموك. اتصل بنا اليوم لمقابلة فريقنا ومعرفة كيف يمكننا العمل معا لتحويل عملك. نجاحك هو مهمة فريقنا!

                                    </p>
                                </div>
                            </div>

                          
                        </div>
                    </div>
                </div>
                <!-- right area business ENd -->
            </div>
        </div>
    </div>


    <!-- end team section -->

    <!-- rts features area start -->
    <div class="rts-feature-area rts-section-gap Purpose">
        <div class="container-fluid padding-controler plr--120">
            <div class="row bg-white-feature  pt--120 pb--120">
                <div class="col-xl-6 col-lg-12">
                    <div class="feature-left-area">
                        <img src="assets/images/purpose.jpg" alt="purpose">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="rts-title-area feature text-start pl--30 pl_sm--0">
                        <p class="pre-title">
                            @*Boost Your Business Today*@
                        </p>
                        <h2 class="title feature-title text-right">أهدافنا</h2>
                        <p class="text-right">في تتجاوز للاستشارات ، هدفنا واضح ولا يتزعزع: تمكين المؤسسات من الازدهار في مشهد أعمال دائم التطور. نحن نتفهم أن بيئة الأعمال اليوم ديناميكية وصعبة وتنافسية للغاية. هدفنا هو أن نكون الضوء الهادي, مساعدة الشركات ليس فقط على البقاء ولكن التفوق في هذا المشهد.</p>


                        <p class="disc text-right">
                            <span style="font-size:20px; color: #104e7e;">قيمتنا</span>
                            <br />
                            قيمنا هي البوصلة التي توجه أعمالنا وقراراتنا. إنها تعكس التزامنا بالممارسات التجارية الأخلاقية والشفافية والنهج الذي يركز على العميل. قيمنا الأساسية تحدد من نحن وكيف نعمل:
                        </p>

                    </div>

                </div>
                  <div class="col-xl-12 col-lg-12">
                    <div class="rts-faq-area rts-section-gap inner">
                       
                                    <div class="accordion-area inner inner2">

                                        <div class="accordion-one-inner inner inner2">
                                            <div class="accordion" id="accordionExample5">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOnez">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapseOne">
                                                <span>01.</span> النزاهة
                                                        </button>
                                                    </h2>
                                                    <div id="collapse5" class="accordion-collapse collapse show" aria-labelledby="headingOnez" data-bs-parent="#accordionExample5">
                                                        <div class="accordion-body">
                                           نحن نحمل أنفسنا على أعلى معايير الصدق والنزاهة. ونحن نعتقد في القيام بما هو صحيح ، حتى عندما يكون تحديا. النزاهة هي أساس علاقات عملائنا والثقة التي تدعم استشارتنا.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingTwoo">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapseTwo">
                                                <span>02.</span> الشفافية
                                                        </button>
                                                    </h2>
                                                    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample5">
                                                        <div class="accordion-body">
                                                التواصل المفتوح والواضح هو في صميم نهجنا. نحن نؤمن بالشراكات الشفافة ، حيث يتم إعلامك والمشاركة في كل خطوة من الرحلة. الشفافية تبني الثقة ، والثقة هي حجر الأساس لاستشارتنا.
                                                        </div>
                                                    </div>
                                                </div>




                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingThree">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                                <span>03.</span> مركزية العميل
                                                </button>
                                                </h2>
                                                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample5">
                                                <div class="accordion-body">
                                                نجاحك هو تركيزنا الأساسي. نحن ملتزمون بفهم التحديات والأهداف والتطلعات الفريدة الخاصة بك. تم تصميم حلولنا وفقا لاحتياجاتك الخاصة ، مما يضمن مواءمة استراتيجياتنا مع أهدافك.
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingFour">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapseFour">
                                                <span>04.</span> الابتكار
                                                </button>
                                                </h2>
                                                    <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample5">
                                                        <div class="accordion-body">
                                                الابتكار هو القوة الدافعة وراء التقدم. نسعى باستمرار إلى حلول جديدة ومبتكرة للتحديات التي يواجهها عملاؤنا. نحن نشجع وجهات نظر جديدة والتفكير خارج الصندوق لدفع التحسين المستمر.
                                                        </div>
                                                    </div>
                                                </div>




                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFive">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapseFive">
                                                <span>05.</span> التعاون
                                            </button>
                                        </h2>
                                        <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample5">
                                            <div class="accordion-body">
                                               نحن نؤمن بقوة التعاون ، سواء داخل فريقنا أو مع عملائنا. من خلال العمل معا ، نسخر الذكاء الجماعي والإبداع الذي يغذي التغيير التحويلي.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSix">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapseSix">
                                                <span>06.</span> التعلم المستمر
                                            </button>
                                        </h2>
                                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample5">
                                            <div class="accordion-body">
                                                في عالم سريع التغير ، فإن السعي وراء المعرفة أمر بالغ الأهمية. نحن ملتزمون بالتعلم المستمر والبقاء في طليعة اتجاهات الصناعة وأفضل الممارسات.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSeven">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapseSeven">
                                                <span>07.</span> التنوع والشمولية
                                            </button>
                                        </h2>
                                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample5">
                                            <div class="accordion-body">
                                                نحتفل بالتنوع ونؤمن بخلق بيئة عمل شاملة. وجهات نظر مختلفة تثري استشارتنا وتؤدي إلى حلول أكثر قوة وابتكارا.
                                                في تتجاوز للاستشارات, قيادتنا, هدف, والقيم هي أكثر من مجرد كلمات على الصفحة; هم المبادئ التي ترشدنا كل يوم. عندما تختار الشراكة معنا ، فأنت تختار شركة استشارية ليست مخصصة لنجاحك فحسب ، بل إنها مدفوعة أيضا بهدف أعلى وقيم لا تتزعزع. معا ، سوف نتنقل في المشهد التجاري المعقد ونحقق نتائج ملحوظة.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                              </div>
                               
                         </div>
                       </div>
                     </div>
            </div>
        </div>
    </div>
</body>
    <!-- rts services area start -->
    <!-- <div class="rts-service-area rts-section-gapBottom">
        <div class="container-fluid service-main about-service-width-controler">
            <div class="background-service service-three row">
                <div class="row g-5">
                    <div class="rts-title-area service-four text-center pt--40 pt_md--0 mt_sm--0 mt_md--0">
                        <p class="pre-title">
                            Our Services
                        </p>
                        <h2 class="title">What We Provide</h2>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12 col-12 pt--15 mb--80 mb_md--40 mb_sm--30">
                        <div class="service-one-inner-four">
                            <div class="big-thumbnail-area">
                                <a href="#" class="thumbnail">
                                    <img src="assets/images/service/07.jpg" alt="Business-service">
                                </a>
                                <div class="content">
                                    <img src="assets/images/service/icon/13.svg" alt="Business-icon">
                                    <h5 class="title">Business Consultancy</h5>
                                    <p class="disc">Aenean augue venenatis est porttitor fames aptent lobortis nam
                                        potenti</p>
                                </div>
                                <a href="service-details.html" class="over_link"></a>
                            </div>
                            <a href="service-details.html" class="rts-btn btn-primary"> Read More<i
                                    class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12 col-12 pt--15 mb--80 mb_md--40 mb_sm--30">
                        <div class="service-one-inner-four">
                            <div class="big-thumbnail-area">
                                <a href="#" class="thumbnail">
                                    <img src="assets/images/service/08.jpg" alt="Business-service">
                                </a>
                                <div class="content">
                                    <img src="assets/images/service/icon/14.svg" alt="Business-icon">
                                    <h5 class="title">Business Appoinment</h5>
                                    <p class="disc">Aenean augue venenatis est porttitor fames aptent lobortis nam
                                        potenti</p>
                                </div>
                                <a href="service-details.html" class="over_link"></a>
                            </div>
                            <a href="service-details.html" class="rts-btn btn-primary"> Read More<i
                                    class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-12 col-12 pt--15 mb--80">
                        <div class="service-one-inner-four">
                            <div class="big-thumbnail-area">
                                <a href="#" class="thumbnail">
                                    <img src="assets/images/service/09.jpg" alt="Business-service">
                                </a>
                                <div class="content">
                                    <img src="assets/images/service/icon/15.svg" alt="Business-icon">
                                    <h5 class="title">Consultancy Foundation</h5>
                                    <p class="disc">Aenean augue venenatis est porttitor fames aptent lobortis nam
                                        potenti</p>
                                </div>
                                <a href="service-details.html" class="over_link"></a>
                            </div>
                            <a href="service-details.html" class="rts-btn btn-primary"> Read More<i
                                    class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cta-one-bg col-12">
                    <div class="cta-one-inner">
                        <div class="cta-left">
                            <h3 class="title animated fadeIn">Let’s discuss about how we can help
                                make your business better</h3>
                        </div>
                        <div class="cta-right">
                            <a class="rts-btn btn-white" href="#">Lets Work Togather</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- rts services area End -->
    <!-- rts team two area -->
   @* <div class="rts-team-area rts-section-gapBottom appoinment-team team-two">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="rts-title-area team text-center">
                        <p class="pre-title">
                           الفريق التنفيذي
                        </p>
                        <h2 class="title">فريقنا</h2>
                    </div>
                </div>
            </div>
            <div class="row g-5 mt--15 mt_sm--0">
                <!-- single team -->
                <div class="col-xl-4 col-md-6 col-sm-12 col-12 mb-5 mt-5 pt-5 pb-5">
                    <!-- single team inner -->
                    <div class="team-inner-two">
                        <a asp-controller="HusseinAr" asp-action="index" class="thumbnail">
                            <img src="assets/images/team/tm/hussein.jpg" alt="hussein">
                        </a>
                        <!-- Acquaintance area -->
                        <div class="acquaintance-area">
                            <div class="header">
                                <a asp-controller="HusseinAr" asp-action="index">
                                    <h6 class="title">د. حسين الموسوي</h6>
                                </a>
                                <span>مدير عام و إستشاري الرعاية الصحية</span>
                            </div>
                            <!-- <div class="acquaintance-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div> -->
                        </div>
                        <!-- Acquaintance area -->
                    </div>
                    <!-- single team inner End -->
                </div>
                <!-- single team End -->
                <!-- single team -->
                <div class="col-xl-4 col-md-6 col-sm-12 col-12 mb-5 mt-5 pt-5 pb-5">
                    <!-- single team inner -->
                    <div class="team-inner-two">
                        <a asp-controller="ElianeAr" asp-action="index" class="thumbnail">
                            <img src="assets/images/team/tm/eliane.jpg" alt="eliane">
                        </a>
                        <!-- Acquaintance area -->
                        <div class="acquaintance-area">
                            <div class="header">
                                <a asp-controller="ElianeAr" asp-action="index">
                                    <h6 class="title">البان فضول</h6>
                                </a>
                                <span>مستشارة تطوير الأعمال</span>
                            </div>
                            <!-- <div class="acquaintance-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div> -->
                        </div>
                        <!-- Acquaintance area -->
                    </div>
                    <!-- single team inner End -->
                </div>
                <!-- single team End -->
                <!-- single team -->
                <div class="col-xl-4 col-md-6 col-sm-12 col-12 mb-5 mt-5 pt-5 pb-5">
                    <!-- single team inner -->
                    <div class="team-inner-two">

                        <a asp-controller="YoussefAr" asp-action="index" class="thumbnail">
                            <img src="assets/images/team/tm/youssef.jpg" alt="youssef">
                        </a>
                        <!-- Acquaintance area -->
                        <div class="acquaintance-area">
                            <div class="header">
                                <a asp-controller="YoussefAr" asp-action="index">
                                    <h6 class="title">يوسف كلش</h6>
                                </a>
                                <span>إستشاري الخدمات المعلوماتية</span>
                            </div>
                            <!-- <div class="acquaintance-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div> -->
                        </div>
                        <!-- Acquaintance area -->
                    </div>
                    <!-- single team inner End -->
                </div>


                <div class="col-xl-4 col-md-6 col-sm-12 col-12 mb-5 mt-5 pt-5 pb-5">
                    <!-- single team inner -->
                    <div class="team-inner-two">
                        <a asp-controller="AhmadAr" asp-action="index" class="thumbnail">
                            <img src="assets/images/team/tm/ahmad.jpg" alt="ahmad">
                        </a>
                        <!-- Acquaintance area -->
                        <div class="acquaintance-area">
                            <div class="header">
                                <a asp-controller="AhmadAr" asp-action="index">
                                    <h6 class="title">أحمد غادر</h6>
                                </a>
                                <span>رئيس قسم البرمجيات</span>
                            </div>
                            <!-- <div class="acquaintance-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div> -->
                        </div>
                        <!-- Acquaintance area -->
                    </div>
                    <!-- single team inner End -->
                </div>

                <div class="col-xl-4 col-md-6 col-sm-12 col-12 mb-5 mt-5 pt-5 pb-5">
                    <!-- single team inner -->
                    <div class="team-inner-two">
                        <a asp-controller="ZeinabAr" asp-action="index" class="thumbnail">
                            <img src="assets/images/team/tm/zeinab.jpg" alt="zeinab">
                        </a>
                        <!-- Acquaintance area -->
                        <div class="acquaintance-area">
                            <div class="header">
                                <a asp-controller="ZeinabAr" asp-action="index">
                                    <h6 class="title"> زينب كلش</h6>
                                </a>
                                <span>مستشارة الخدمات المالية و المصرفية</span>
                            </div>
                            <!-- <div class="acquaintance-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div> -->
                        </div>
                        <!-- Acquaintance area -->
                    </div>
                    <!-- single team inner End -->
                </div>



                <div class="col-xl-4 col-md-6 col-sm-12 col-12 mb-5 mt-5 pt-5 pb-5">
                    <!-- single team inner -->
                    <div class="team-inner-two">
                        <a asp-controller="JihaneAr" asp-action="index" class="thumbnail">
                            <img src="assets/images/team/tm/jihane.jpg" alt="jihane">
                        </a>
                        <!-- Acquaintance area -->
                        <div class="acquaintance-area">
                            <div class="header">
                                <a asp-controller="JihaneAr" asp-action="index">
                                    <h6 class="title">جيهان معتوق</h6>
                                </a>
                                <span>مديرة المشاريع</span>
                            </div>
                            <!-- <div class="acquaintance-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div> -->
                        </div>
                        <!-- Acquaintance area -->
                    </div>
                    <!-- single team inner End -->
                </div>
                <!-- single team End -->
            </div>
        </div>
    </div>*@
    <!-- rts team two area End -->
    <!-- rts faq section area -->
    <!-- rts faq section area End -->
    <!-- customers feed back area start -->
    <!-- <div class="rts-customer-feedback-area rts-section-gap bg-customer-feedback">
        <div class="container">
            <div class="row">
                <div class="rts-title-area feedback team text-center">
                    <p class="pre-title">
                        Feedbacks
                    </p>
                    <h2 class="title">Customer Feedbacks</h2>
                </div>
            </div>
            <div class="row g-5 mt--20">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="testimopnial-wrapper-two">
                        <div class="test-header">
                            <div class="thumbnail">
                                <img src="assets/images/testimonials/02.png" alt="">
                            </div>
                            <div class="name-desig">
                                <h5 class="title">David Smith</h5>
                                <span class="designation">Business Expert</span>
                            </div>
                        </div>
                        <div class="test-body">
                            <p class="disc">
                                “Parallel task user friendly convergence through supply are chains type siflify reliable
                                meta provide service visionary sources unleash tactical thinking via granular
                                intellectual capital architect dynamic information value online business solution
                                services”
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="testimopnial-wrapper-two">
                        <div class="test-header">
                            <div class="thumbnail">
                                <img src="assets/images/testimonials/03.png" alt="">
                            </div>
                            <div class="name-desig">
                                <h5 class="title">David Smith</h5>
                                <span class="designation">Business Expert</span>
                            </div>
                        </div>
                        <div class="test-body">
                            <p class="disc">
                                “Parallel task user friendly convergence through supply are chains type siflify reliable
                                meta provide service visionary sources unleash tactical thinking via granular
                                intellectual capital architect dynamic information value online business solution
                                services”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- customers feed back area end -->
    <!-- start header area -->

