@model ExceedConsultancy.Models.ServicesModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MetaDescription = "";
    ViewBag.MetaKeywords = "";
}


<body>
    <div class="search-input-area">
        <div class="container">
            <div class="search-input-inner">
                <div class="input-div">
                    <input id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                    <button><i class="far fa-search"></i></button>
                </div>
            </div>
        </div>
        <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
    </div>

    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">Our Services</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a href="index.html">Home</a>
                        <span> / </span>
                        <a href="#" class="active">Our Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- our service area start -->
    <div class="rts-service-area rts-section-gapTop pb--200 service-two-bg bg_image">
        <div class="container">
            <div class="row g-5 service padding-controler">
                <!-- single service area -->
                <div class="col-xl-4 col-md-6 col-sm-12 col-12 pb--140 pb_md--100">
                    <div class="service-two-inner">
                        <a href="service-details.html" class="thumbnail"><img style="height: 272px;" src="assets/images/service/02.jpg" alt="Business_image"></a>
                        <div class="body-content">
                            <div class="hidden-area">
                                <h5 class="title">Business Consultancy </h5>
                                <p class="dsic">
                                    Our business consultancy services are tailored to address your unique challenges and opportunities.
                                </p>
                                <a class="rts-read-more-two color-primary" href="service-details.html">Read More<i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single service area end-->
                <!-- single service area -->
                <div class="col-xl-4 col-md-6 col-sm-12 col-12 pb--140 pb_md--100">
                    <div class="service-two-inner">
                        <a href="service-details.html" class="thumbnail two"><img src="assets/images/service/03.jpg" alt="Business_image"></a>
                        <div class="body-content">
                            <div class="hidden-area">
                                <h5 class="title">Technology Consultancy </h5>
                                <p class="dsic">
                                    Embrace the power of technology with our comprehensive technology consultancy.
                                </p>
                                <a class="rts-read-more-two color-primary" href="service-details.html">Read More<i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single service area end-->
                <!-- single service area -->
                <div class="col-xl-4 col-md-6 col-sm-12 col-12 pb--140 pb_md--100">
                    <div class="service-two-inner">
                        <a href="service-details.html" class="thumbnail three"><img src="assets/images/service/04.jpg" alt="Business_image"></a>
                        <div class="body-content">
                            <div class="hidden-area">
                                <h5 class="title">Project Management </h5>
                                <p class="dsic">
                                    Successful projects require meticulous planning, execution, and monitoring.
                                </p>
                                <a class="rts-read-more-two color-primary" href="service-details.html">Read More<i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single service area end-->
                <!-- single service area -->
                <!--<div class="col-xl-4 col-md-6 col-sm-12 col-12 pb--140 pb_md--100">
                    <div class="service-two-inner">
                        <a href="service-details.html" class="thumbnail"><img src="assets/images/service/02.jpg" alt="Business_image"></a>
                        <div class="body-content">
                            <div class="hidden-area">
                                <h5 class="title">Model Building</h5>
                                <p class="dsic">
                                    Porta sagittis diam imperdiet eu, tempus nisi aenean vehicula torquent dis mattis nullam
                                    bibendum morbi laoreet lobortis id
                                </p>
                                <a class="rts-read-more-two color-primary" href="service-details.html">Read More<i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- single service area end-->
                <!-- single service area -->
                <!--<div class="col-xl-4 col-md-6 col-sm-12 col-12 pb--140 pb_md--60">
                    <div class="service-two-inner">
                        <a href="service-details.html" class="thumbnail two"><img src="assets/images/service/03.jpg" alt="Business_image"></a>
                        <div class="body-content">
                            <div class="hidden-area">
                                <h5 class="title">Solution Model</h5>
                                <p class="dsic">
                                    Porta sagittis diam imperdiet eu, tempus nisi aenean vehicula torquent dis mattis nullam
                                    bibendum morbi laoreet lobortis id
                                </p>
                                <a class="rts-read-more-two color-primary" href="service-details.html">Read More<i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- single service area end-->
                <!-- single service area -->
                <!--<div class="col-xl-4 col-md-6 col-sm-12 col-12 pb--140 pb_md--60 pb_sm--60">
                    <div class="service-two-inner">
                        <a href="service-details.html" class="thumbnail three"><img src="assets/images/service/04.jpg" alt="Business_image"></a>
                        <div class="body-content">
                            <div class="hidden-area">
                                <h5 class="title">Finbiz Solution</h5>
                                <p class="dsic">
                                    Porta sagittis diam imperdiet eu, tempus nisi aenean vehicula torquent dis mattis nullam
                                    bibendum morbi laoreet lobortis id
                                </p>
                                <a class="rts-read-more-two color-primary" href="service-details.html">Read More<i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- single service area end-->
            </div>
        </div>
    </div>
    <!-- our service area end -->
    <!-- service accordion area -->
    <div class="rts-accordion-area service rts-section-gap">
        <div class="accordion-service-bg bg_image ptb--120 ptb_md--80 ptb_sm--60">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="accordion-service-inner">
                            <div class="title-area-start">
                                <span class="sub color-primary"> Business Consultancy </span>
                                <h2 class="title">
                                    We know how to manage
                                    business globally
                                </h2>
                            </div>
                            <div class="accordion-area">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Strategy development
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                Crafting a winning strategy is the cornerstone of business success. Our Strategy Development service involves in-depth analysis and collaboration with your leadership team to define clear objectives, identify growth opportunities, and devise a roadmap for sustainable success.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Business Planning
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                Our Business Planning service equips you with comprehensive and actionable business plans that outline the path to achieving your goals.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Acquisitions
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                Navigating the complexities of mergers and acquisitions demands expert guidance. Our Acquisitions service offers in-depth due diligence, target analysis, and strategic advisory to support your decision-making process.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Process optimization
                                            </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                Unlock hidden potential and efficiency within your operations through our Process Optimization service.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFive">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                Financial analysis
                                            </button>
                                        </h2>
                                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                Numbers tell a story, and our Financial Analysis service provides valuable insights into your organization's financial health.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</body>

</html>