@model ExceedConsultancy.Models.QuoteArModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
    ViewBag.Title = "Xeed Consulting | حجز موعد";
    ViewBag.MetaDescription = "اطلب عرض سعر مجاني من اXeed Consulting عن طريق ملء نموذج الحجز. نحن ملتزمون بتقديم التوجيه الصحيح والحلول المصممة خصيصًا لاحتياجات عملك.";

    ViewBag.MetaKeywords = "حجز موعد، طلب عرض سعر مجاني، نموذج الحجز، التوجيه الخبير، احتياجات العمل";

}


<body>



    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">تحديد موعد</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a asp-controller="Home" asp-action="index">الرئيسية</a>
                        <span> / </span>
                        تحديد موعد
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- contact area start -->
    <div class="rts-contact-area contact-one">
        <div class="container">
            <div class="row align-items-center g-0">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="contact-image-one">
                        <img src="assets/images/contact/01.jpg" alt="Quote">
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="contact-form-area-one">
                        <div class="rts-title-area contact text-end">
                            <p class="pre-title">
                                تحديد موعد
                            </p>
                            <h2 class="title">احصل على إتصال  </h2>
                        </div>
                        <div id="form-messages"></div>
                        <form method="post">
                            <div class="name-email">
                                <input type="text" placeholder="الإسم" name="Name" required>
                                <input type="Email" placeholder="البريد الإلكتروني" name="email" required>
                            </div>
                            <input type="text" placeholder="الموضوع" name="Subject">
                            <div class="name-email">
                                <input type="text" placeholder="الموضوع" name="Subject">
                                <input type="text" placeholder="رقم الهاتف" name="Phone" required>
                            </div>
                            <textarea placeholder="اكتب رسالة" name="Message"></textarea> <br /><br />
                            <div class="g-recaptcha" data-sitekey="6LfrHs8nAAAAAO6hxh1eZxaHuq9CFvKKZUcMx7PW"></div>

                            <button type="submit" class="rts-btn btn-primary">إرسال</button>
                        </form>
                        @if (TempData["SuccessQuote"] != null)
                        {
                            <p class="alert alert-warning d-block blue-bg">@TempData["SuccessQuote"]</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact area end -->
    <!-- start project with us section -->
  
    <!-- start project with us section End -->
    <!-- start header area -->
    <!-- rts footer area start -->
   
    <!-- scripts end form hear -->

</body>
