@model ExceedConsultancy.Models.ZeinabArModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
    ViewBag.MetaDescription = "";
    ViewBag.MetaKeywords = "";
}


<body>
    <!-- End header area -->

  


    <div id="anywhere-home">
    </div>
    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">Zeinab Kalash</h1>
                </div>
            
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- rts-team details area Start-->
    <div class="rts-team-details rts-section-gap">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div class="details-thumb">
                        <img src="assets/images/team/tm/zeinab1.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 pl--35 pl_sm--15">
                    <div class="details-right-inner">
                        <div class="title-area">
                            <span class="pre-title">
                                المالية والوظيفية تخطيط موارد المؤسسات استشاري
                            </span>
                            <h3 class="title">Zeinab Kalash</h3>
                        </div>
                        <p class="disc">
                            تعمل زينب كلش بصفتها خبيرة في الشؤون المالية وتخطيط موارد المؤسسات ، وتتمتع بخلفية مالية قوية وخبرة في أنظمة تخطيط موارد المؤسسات ، وتساعد المنظمات على تنفيذ احتياجات أعمالها وتطبيق العملية والسياسات المطلوبة وفقا للمتطلبات المالية.   <br /><br />
                            وهي أيضا من ذوي الخبرة في مختلف الصناعات مثل التصنيع والتجزئة ، مع خلفية قوية في إدارة المخزون ، وإدارة المخاطر ، وحلول إدارة علاقات العملاء وغيرها من الوظائف التشغيلية.
                            <br /><br />
                            كما أنها تنفذ وتدير الوظائف الضريبية والحلول ذات الصلة.
                            <br /><br />
                            تحمل زينب درجة الماجستير في المالية والمحاسبة والإدارة ، ولديها معرفة عميقة بمعايير المحاسبة الدولية مثل المعايير الدولية للإبلاغ المالي ومبادئ المحاسبة المقبولة عموما. استند مشروع تخرجها (مقال) إلى تقنيات الذكاء الاصطناعي.
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts-team details area ENd -->
    <!-- rts skills area start -->
   
</body>