@model ExceedConsultancy.Models.ZeinabArModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
    ViewBag.Title = "Exceed Consultancy | زينب كلاش | مستشار مالي ومتخصص في نظام تخطيط موارد المؤسسات";
    ViewBag.MetaDescription = "تعمل زينب كلاش في مجال الاستشارات المالية وخبراء نظام تخطيط موارد المؤسسات، وتتمتع بخلفية مالية قوية وخبرة في نظم تخطيط موارد المؤسسات. تساعد المنظمات في تنفيذ احتياجاتها التجارية وتطبيق العمليات والسياسات المطلوبة وفقًا للمتطلبات المالية. زينب لديها أيضًا خبرة في مجالات مختلفة مثل التصنيع والبيع بالتجزئة، وخبرة في إدارة المخزون وإدارة المخاطر وحلول إدارة علاقات العملاء وغيرها من الوظائف التشغيلية.";

    ViewBag.MetaKeywords = "زينب كلاش، مستشار مالي ومتخصص في نظام تخطيط موارد المؤسسات، خبير في نظام تخطيط موارد المؤسسات، خلفية مالية، نظم تخطيط موارد المؤسسات، احتياجات تجارية، عمليات وسياسات، التصنيع، البيع بالتجزئة، إدارة المخزون، إدارة المخاطر، حلول إدارة علاقات العملاء، وظائف تشغيلية";

}


<body>
    <!-- End header area -->

  


    <div id="anywhere-home">
    </div>
    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">Zeinab Kalash</h1>
                </div>
            
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- rts-team details area Start-->
    <div class="rts-team-details rts-section-gap">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div class="details-thumb">
                        <img src="assets/images/team/tm/zeinab1.jpg" alt="zeinab">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 pl--35 pl_sm--15">
                    <div class="details-right-inner">
                        <div class="title-area">
                            <span class="pre-title">
                                Finance & Functional ERP Consultant
                            </span>
                            <h3 class="title">Zeinab Kalash</h3>
                        </div>
                        <p class="disc">
                            تعمل زينب كلش بصفتها خبيرة في الشؤون المالية وتخطيط موارد المؤسسات، وتتمتع بخلفية مالية قوية وخبرة في أنظمة تخطيط موارد المؤسسات، وتساعد المنظمات على تنفيذ احتياجات أعمالها وتطبيق الإجراءات والسياسات المطلوبة وفقا للمتطلبات المالية.   <br /><br />
                            <br /><br />
                            كما أنها تقوم بتنفيذ وإدارة وظائف الضرائب والحلول ذات الصلة.
                           
                            <br /><br />
                            زينب حاصلة على درجة الماجستير في التمويل، المحاسبة والإدارة، مع معرفة عميقة في معايير المحاسبة الدولية مثل IFRS و GAAP. اعتمد مشروع تخرجها (مقال) على تقنيات الذكاء الاصطناعي.


                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts-team details area ENd -->
    <!-- rts skills area start -->
   
</body>