@model ExceedConsultancy.Models.TechnologyArModel
@{
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
    ViewBag.MetaDescription = "";
    ViewBag.MetaKeywords = "";
}


<body>
   

    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">الاستشارات التكنولوجية</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a asp-controller="Home" asp-action="index">الرئيسية</a>
                        <span> / </span>
                        الاستشارات التكنولوجية
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- start service details area -->
    <div class="rts-service-details-area rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-12 col-sm-12 col-12">
                    <!-- service details left area start -->
                    <div class="service-detials-step-1">
                        <div class="thumbnail">
                            <img src="assets/images/service/techno.jpg" alt="business-area">
                        </div>
                        <h4 class="title">الاستشارات التكنولوجية </h4>
                        <p class="disc">
                            احتضان قوة التكنولوجيا من خلال استشارات التكنولوجيا الشاملة لدينا. من تصميم وتنفيذ بنية تحتية لتكنولوجيا المعلومات قابلة للتطوير إلى تطوير حلول برمجية متطورة ، نساعدك على الاستفادة من التكنولوجيا لتحقيق ميزة تنافسية.
                        </p>

                        

                        <!--<div class="row g-5 mt--30 mb--40">
                        <div class="col-lg-6">-->
                        <!-- single service details card -->
                        <!--<div class="service-details-card">
                            <div class="thumbnail">
                                <img src="assets/images/service/icon/09.svg" alt="" class="icon">
                            </div>
                            <div class="details">
                                <h6 class="title">Instant Business Growth</h6>
                                <p class="disc">Maintain wireless scerios after sure quality vectors future</p>
                            </div>
                        </div>-->
                        <!-- single service details card End -->
                        <!--</div>
                        <div class="col-lg-6">-->
                        <!-- single service details card -->
                        <!--<div class="service-details-card">
                            <div class="thumbnail">
                                <img src="assets/images/service/icon/10.svg" alt="" class="icon">
                            </div>
                            <div class="details">
                                <h6 class="title">24/7 Quality Service</h6>
                                <p class="disc">Maintain wireless scerios after sure quality vectors future</p>
                            </div>
                        </div>-->
                        <!-- single service details card End -->
                        <!--</div>
                        <div class="col-lg-6">-->
                        <!-- single service details card -->
                        <!--<div class="service-details-card">
                            <div class="thumbnail">
                                <img src="assets/images/service/icon/11.svg" alt="" class="icon">
                            </div>
                            <div class="details">
                                <h6 class="title">Easy Customer Service</h6>
                                <p class="disc">Maintain wireless scerios after sure quality vectors future</p>
                            </div>
                        </div>-->
                        <!-- single service details card End -->
                        <!--</div>
                        <div class="col-lg-6">-->
                        <!-- single service details card -->
                        <!--<div class="service-details-card">
                            <div class="thumbnail">
                                <img src="assets/images/service/icon/12.svg" alt="" class="icon">
                            </div>
                            <div class="details">
                                <h6 class="title">Quality Cost Service</h6>
                                <p class="disc">Maintain wireless scerios after sure quality vectors future</p>
                            </div>
                        </div>-->
                        <!-- single service details card End -->
                        <!--</div>
                        </div>-->
                        <!-- stem-area start -->
                        <!--<div class="row  mb--40 g-5 mb_md--20 mb_sm--20">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="single-service-step text-center">
                                    <p class="step">01</p>
                                    <h6 class="title">
                                        STEP ONE
                                    </h6>
                                    <p class="disc">
                                        Tactical services through market web services
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="single-service-step text-center">
                                    <p class="step">02</p>
                                    <h6 class="title">
                                        STEP TWO
                                    </h6>
                                    <p class="disc">
                                        Tactical services through market web services
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="single-service-step text-center">
                                    <p class="step">03</p>
                                    <h6 class="title">
                                        STEP THREE
                                    </h6>
                                    <p class="disc">
                                        Tactical services through market web services
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="single-service-step text-center">
                                    <p class="step">03</p>
                                    <h6 class="title">
                                        STEP THREE
                                    </h6>
                                    <p class="disc">
                                        Tactical services through market web services
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="single-service-step text-center">
                                    <p class="step">03</p>
                                    <h6 class="title">
                                        STEP THREE
                                    </h6>
                                    <p class="disc">
                                        Tactical services through market web services
                                    </p>
                                </div>
                            </div>
                        </div>-->
                        <!-- stem-area End -->
                    </div>
                    <!-- service details left area end -->

                </div>
                <!--rts blog wizered area -->
                <div class="col-xl-4 col-md-12 col-sm-12 col-12 mt_lg--60 pl--50 pl_md--0 pl-lg-controler pl_sm--0">
                    <!-- single wizered start -->
                    <div class="rts-single-wized Categories service">
                        <div class="wized-header">
                            <h5 class="title">
                                Categories
                            </h5>
                        </div>
                        <div class="wized-body">
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="BusinessAr" asp-action="index">استشارات الأعمال <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <!-- single categoris End -->
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="TechnologyAr" asp-action="index">الاستشارات التكنولوجية <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <!-- single categoris End -->
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="ManagementAr" asp-action="index">إدارة المشاريع <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <br />
                            <img src="assets/images/service/servicestechno.jpg" />
                            <!-- single categoris End -->
                        </div>
                    </div>
                    <!-- single wizered End -->
                    <!-- single wizered start -->
                    <!-- single wizered End -->
                    <!-- single wizered start -->
                    <!-- single wizered End -->
                </div>
                <!-- rts- blog wizered end area -->
            </div>

            <div class="row mt--35">


                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                    <div class="thumbnail sm-thumb-service">
                        <img src="assets/images/service/smt-01.jpg" alt="Service">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
                    <h6 class="title">تصميم البنية التحتية لتكنولوجيا المعلومات </h6>
                    <p class="disc">
                        
                        البنية التحتية القوية والقابلة للتطوير لتكنولوجيا المعلومات هي العمود الفقري للشركات الحديثة. تستفيد خدمة تصميم البنية التحتية لتكنولوجيا المعلومات لدينا من أحدث التقنيات وأفضل الممارسات الصناعية لإنشاء حلول مخصصة تلبي الاحتياجات الفريدة لمؤسستك. من بنية الشبكة
                        بالنسبة لأنظمة الأجهزة والأمان ، نضمن تحسين البنية التحتية لتكنولوجيا المعلومات لديك للحصول على أداء سلس وتكامل البيانات وزيادة الإنتاجية.
                    </p>


                </div>
            </div>
            <div class="row mt--35">
                <div class="col-xl-6 col-lg-6  col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
                    <h6 class="title">تطوير البرمجيات </h6>
                    
                    <p class="disc">
                        ابق متقدما في العصر الرقمي من خلال خدمة تطوير البرامج الخاصة بنا. يقوم فريقنا من المطورين المهرة بصياغة حلول برمجية مخصصة تتوافق تماما مع أهداف عملك. من تطبيقات الويب والهاتف المحمول إلى برامج المؤسسات ، نقدم منتجات تركز على المستخدم تعزز تجارب العملاء وتبسط العمليات وتدفع الابتكار داخل مؤسستك.
                    </p>
                  

                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                    <div class="thumbnail sm-thumb-service">
                        <img src="assets/images/service/smt-02.jpg" alt="Service">
                    </div>
                </div>
            </div>




            <div class="row mt--35">


                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                    <div class="thumbnail sm-thumb-service">
                        <img src="assets/images/service/smt-03.jpg" alt="Service">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6  col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
                    <h6 class="title">التحول الرقمي </h6>
                    <p class="disc">
                      احتضان المستقبل مع خدمة التحول الرقمي لدينا. في مشهد سريع التطور ، نساعد الشركات على تسخير قوة التقنيات الرقمية لدفع النمو والتميز التشغيلي. يتعاون مستشارونا معك لتحديد الفرص الرقمية ، وتجديد العمليات التجارية ، واعتماد استراتيجيات تعتمد على البيانات ، مما يمكن مؤسستك من الازدهار في العصر الرقمي.
                    </p>
                </div>
            </div>
           
        </div>
    </div>
  
</body>