@model ExceedConsultancy.Models.ServicesArModel
@{
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
    ViewBag.Title = "Xeed Consulting  | خدمات إستشارية";
    ViewBag.MetaDescription = "تتم تصميم خدمات الاستشارات الخاصة بنا لمعالجة التحديات والفرص الفريدة التي تواجهها. اعتمد على قوة التكنولوجيا مع استشارتنا الشاملة للتكنولوجيا.";
    ViewBag.MetaKeywords = "استشارات الأعمال، استشارات التكنولوجيا، إدارة المشاريع، تطوير الاستراتيجيات، تخطيط الأعمال، الاستحواذات، تحسين العمليات، تحليل مالي";

}


<body>
    <div class="search-input-area">
        <div class="container">
            <div class="search-input-inner">
                <div class="input-div">
                    <input id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                    <button><i class="far fa-search"></i></button>
                </div>
            </div>
        </div>
        <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
    </div>

    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">خدماتنا</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a <a asp-controller="Home" asp-action="index">الرئيسية</a>
                        <span> / </span>
                        <a href="#" class="active">خدماتنا </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- our service area start -->
    @*<div class="rts-service-area rts-section-gapTop pb--200 service-two-bg bg_image">
        <div class="container">
            <div class="row g-5 service padding-controler">
                <!-- single service area -->
                <div class="col-xl-4 col-md-6 col-sm-12 col-12 pb--140 pb_md--100  mb-3">
                    <div class="service-two-inner">
                        <a href="service-details.html" class="thumbnail"><img style="height: 272px;" src="assets/images/service/02.jpg" alt="Business_image"></a>
                        <div class="body-content  mb-3">
                            <div class="hidden-area">
                                <h5 class="title">استشارات الأعمال </h5>
                                <p class="dsic">
                                    تقدم الاستشارات الخاصة في مجال الاعمال بطريقة عصرية مناسبة للتحديات و الفرص التي تمر بها كل شركة.
                                </p>
                                <a class="rts-read-more-two color-primary" href="service-details.html">المزيد<i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single service area end-->
                <!-- single service area -->
                <div class="col-xl-4 col-md-6 col-sm-12 col-12 pb--140 pb_md--100   mb-3">
                    <div class="service-two-inner">
                        <a href="service-details.html" class="thumbnail two"><img src="assets/images/service/03.jpg" alt="Business_image"></a>
                        <div class="body-content  mb-3">
                            <div class="hidden-area">
                                <h5 class="title">الخدمات المعلوماتية</h5>
                                <p class="dsic">
                               يقوم فريقنا بثقديم استشارات وخدمات خاصة بقطاع المعلوماتية لمواكبة التطور المتصاعد في مجال التكنولوجيا.
                                </p>
                                <a class="rts-read-more-two color-primary" href="service-details.html">المزيد <i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single service area end-->
                <!-- single service area -->
                <div class="col-xl-4 col-md-6 col-sm-12 col-12 pb--140 pb_md--100   mb-3">
                    <div class="service-two-inner">
                        <a href="service-details.html" class="thumbnail three"><img src="assets/images/service/04.jpg" alt="Business_image"></a>
                        <div class="body-content  mb-3">
                            <div class="hidden-area">
                                <h5 class="title">إدارة المشاريع</h5>
                                <p class="dsic">
                                    تتطلب المشاريع الناجحة تخطيطا دقيقا وتنفيذا ومراقبة. يتبع فريق إدارة المشاريع الخبير لدينا منهجية ثابتة و منظمة لجهة تسليم المشاريع و تنفيها في الوقت المحدد
                                </p>
                                <a class="rts-read-more-two color-primary" href="service-details.html">المزيد <i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>*@
                <!-- single service area end-->
                <!-- single service area -->
                <!--<div class="col-xl-4 col-md-6 col-sm-12 col-12 pb--140 pb_md--100">
                    <div class="service-two-inner">
                        <a href="service-details.html" class="thumbnail"><img src="assets/images/service/02.jpg" alt="Business_image"></a>
                        <div class="body-content">
                            <div class="hidden-area">
                                <h5 class="title">Model Building</h5>
                                <p class="dsic">
                                    Porta sagittis diam imperdiet eu, tempus nisi aenean vehicula torquent dis mattis nullam
                                    bibendum morbi laoreet lobortis id
                                </p>
                                <a class="rts-read-more-two color-primary" href="service-details.html">Read More<i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- single service area end-->
                <!-- single service area -->
                <!--<div class="col-xl-4 col-md-6 col-sm-12 col-12 pb--140 pb_md--60">
                    <div class="service-two-inner">
                        <a href="service-details.html" class="thumbnail two"><img src="assets/images/service/03.jpg" alt="Business_image"></a>
                        <div class="body-content">
                            <div class="hidden-area">
                                <h5 class="title">Solution Model</h5>
                                <p class="dsic">
                                    Porta sagittis diam imperdiet eu, tempus nisi aenean vehicula torquent dis mattis nullam
                                    bibendum morbi laoreet lobortis id
                                </p>
                                <a class="rts-read-more-two color-primary" href="service-details.html">Read More<i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- single service area end-->
                <!-- single service area -->
                <!--<div class="col-xl-4 col-md-6 col-sm-12 col-12 pb--140 pb_md--60 pb_sm--60">
                    <div class="service-two-inner">
                        <a href="service-details.html" class="thumbnail three"><img src="assets/images/service/04.jpg" alt="Business_image"></a>
                        <div class="body-content">
                            <div class="hidden-area">
                                <h5 class="title">Finbiz Solution</h5>
                                <p class="dsic">
                                    Porta sagittis diam imperdiet eu, tempus nisi aenean vehicula torquent dis mattis nullam
                                    bibendum morbi laoreet lobortis id
                                </p>
                                <a class="rts-read-more-two color-primary" href="service-details.html">Read More<i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- single service area end-->
         @*   </div>
        </div>
    </div>*@
















    <div class="rts-project-area rts-section-gap capbilties">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tab-content-area mt--50 mt_sm--30">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel">
                                <!-- tab product area -->
                                <div class="row g-5">

                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <!-- single -product area -->
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/product/Organizational-Purpose-1.jpg" alt="القطاع التجاري">
                                                <a class="rts-btn btn-primary rounded" asp-controller="BusinessAr" asp-action="index"><i class="far fa-arrow-right"></i></a>
                                            </div>
                                            <div class="product-contact-wrapper">
                                                @*<span>Business Solution</span>*@
                                                <a asp-controller="BusinessAr" asp-action="index">
                                                    <h5 class="title">القطاع التجاري</h5>
                                                </a>
                                                @*<p class="disc">
                                                At Xeed Consulting, we believe that every business should have a clear and compelling purpose.
                                                </p>*@
                                            </div>
                                        </div>
                                        <!-- single -product area End -->
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <!-- single -product area -->
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/product/Strategy-.jpg" alt="تمويل الشركات واستراتيجيتها">
                                                <a class="rts-btn btn-primary rounded" asp-controller="FinanceAr" asp-action="index"><i class="far fa-arrow-right"></i></a>
                                            </div>
                                            <div class="product-contact-wrapper">
                                                @*<span>Business Solution</span>*@
                                                <a asp-controller="FinanceAr" asp-action="index">
                                                    <h5 class="title">تمويل الشركات واستراتيجيتها</h5>
                                                </a>
                                                @* <p class="disc">
                                                Corporate Finance and Strategy
                                                </p>*@
                                            </div>
                                        </div>
                                        <!-- single -product area End -->
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <!-- single -product area -->
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/product/Technology.jpg" alt="قطاع التكنولوجيا">
                                                <a class="rts-btn btn-primary rounded" asp-controller="TechnologyAr" asp-action="index"><i class="far fa-arrow-right"></i></a>
                                            </div>
                                            <div class="product-contact-wrapper">
                                                @*<span>Business Solution</span>*@
                                                <a asp-controller="TechnologyAr" asp-action="index">
                                                    <h5 class="title"> قطاع التكنولوجيا</h5>
                                                </a>
                                                @* <p class="disc">
                                                Digital, Technology, and Data
                                                </p>*@
                                            </div>
                                        </div>
                                        <!-- single -product area End -->
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <!-- single -product area -->
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/product/AI.jpg" alt="الذكاء الاصطناعي">
                                                <a class="rts-btn btn-primary rounded" asp-controller="ArtificialIntelligenceAr" asp-action="index"><i class="far fa-arrow-right"></i></a>
                                            </div>
                                            <div class="product-contact-wrapper">
                                                @*<span>Business Solution</span>*@
                                                <a asp-controller="ArtificialIntelligenceAr" asp-action="index">
                                                    <h5 class="title">الذكاء الاصطناعي</h5>
                                                </a>
                                                @*<p class="disc">
                                                Artificial Intelligence
                                                </p>*@
                                            </div>
                                        </div>
                                        <!-- single -product area End -->
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <!-- single -product area -->
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/product/Monitoring-Evaluation-.jpg" alt="مراقبة وتطوير الشركات">
                                                <a class="rts-btn btn-primary rounded" asp-controller="MonitoringEvaluationAr" asp-action="index"><i class="far fa-arrow-right"></i></a>
                                            </div>
                                            <div class="product-contact-wrapper">
                                                @*<span>Business Solution</span>*@
                                                <a asp-controller="MonitoringEvaluationAr" asp-action="index">
                                                    <h5 class="title">مراقبة وتطوير الشركات</h5>
                                                </a>
                                                @*  <p class="disc">
                                                Monitoring and Evaluation
                                                </p>*@
                                            </div>
                                        </div>
                                        <!-- single -product area End -->
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <!-- single -product area -->
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/product/Manufacturing-.jpg" alt="الصناعة">
                                                <a class="rts-btn btn-primary rounded" asp-controller="ManufacturingAr" asp-action="index"><i class="far fa-arrow-right"></i></a>
                                            </div>
                                            <div class="product-contact-wrapper">
                                                @*<span>Business Solution</span>*@
                                                <a asp-controller="ManufacturingAr" asp-action="index">
                                                    <h5 class="title">الصناعة</h5>
                                                </a>
                                                @* <p class="disc">
                                                Manufacturing
                                                </p>*@
                                            </div>
                                        </div>
                                        <!-- single -product area End -->
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <!-- single -product area -->
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/product/Marketing.jpg" alt="النمو والتسويق والمبيعات">
                                                <a class="rts-btn btn-primary rounded" asp-controller="MarketingAr" asp-action="index"><i class="far fa-arrow-right"></i></a>
                                            </div>
                                            <div class="product-contact-wrapper">
                                                @*<span>Business Solution</span>*@
                                                <a asp-controller="MarketingAr" asp-action="index">
                                                    <h5 class="title">النمو والتسويق والمبيعات</h5>
                                                </a>
                                                @* <p class="disc">
                                                Growth, Marketing, and Sales
                                                </p>*@
                                            </div>
                                        </div>
                                        <!-- single -product area End -->
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <!-- single -product area -->
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/product/Operations.jpg" alt="قطاع العمليات">
                                                <a class="rts-btn btn-primary rounded" asp-controller="OperationsAr" asp-action="index"><i class="far fa-arrow-right"></i></a>
                                            </div>
                                            <div class="product-contact-wrapper">
                                                @*<span>Business Solution</span>*@
                                                <a asp-controller="OperationsAr" asp-action="index">
                                                    <h5 class="title">قطاع العمليات</h5>
                                                </a>
                                                @* <p class="disc">
                                                Operations
                                                </p>*@
                                            </div>
                                        </div>
                                        <!-- single -product area End -->
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <!-- single -product area -->
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/product/Implementation.jpg" alt="التخطيط والتنفيذ">
                                                <a class="rts-btn btn-primary rounded" asp-controller="ImplementationAr" asp-action="index"><i class="far fa-arrow-right"></i></a>
                                            </div>
                                            <div class="product-contact-wrapper">
                                                @*<span>Business Solution</span>*@
                                                <a asp-controller="ImplementationAr" asp-action="index">
                                                    <h5 class="title">التخطيط والتنفيذ</h5>
                                                </a>
                                                @*<p class="disc">
                                                Implementation
                                                </p>*@
                                            </div>
                                        </div>
                                        <!-- single -product area End -->
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <!-- single -product area -->
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/product/Organization-Strategy.jpg" alt="Organization Strategy">
                                                <a class="rts-btn btn-primary rounded" asp-controller="OrganizationStrategyAr" asp-action="index><i class="far fa-arrow-right"></i></a>
                                            </div>
                                            <div class="product-contact-wrapper">
                                                @*<span>Business Solution</span>*@
                                                <a asp-controller="OrganizationStrategyAr" asp-action="index">
                                                    <h5 class="title">وضع الإسترايجيات</h5>
                                                </a>
                                                @* <p class="disc">
                                                Organization Strategy
                                                </p>*@
                                            </div>
                                        </div>
                                        <!-- single -product area End -->
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <!-- single -product area -->
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/product/People-Strategy.jpg" alt="People Strategy">
                                                <a class="rts-btn btn-primary rounded" asp-controller="PeopleStrategyAr" asp-action="index"><i class="far fa-arrow-right"></i></a>
                                            </div>
                                            <div class="product-contact-wrapper">
                                                @*<span>Business Solution</span>*@
                                                <a asp-controller="PeopleStrategyAr" asp-action="index">
                                                    <h5 class="title">الموارد البشرية</h5>
                                                </a>
                                                @*<p class="disc">
                                                People Strategy
                                                </p>*@
                                            </div>
                                        </div>
                                        <!-- single -product area End -->
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <!-- single -product area -->
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/product/Pricing.jpg" alt="Pricing and Revenue Management">
                                                <a class="rts-btn btn-primary rounded" asp-controller="PricingAr" asp-action="index"><i class="far fa-arrow-right"></i></a>
                                            </div>
                                            <div class="product-contact-wrapper">
                                                @*<span>Business Solution</span>*@
                                                <a asp-controller="PricingAr" asp-action="index">
                                                    <h5 class="title">وضع الأسعار وإدارة الموارد</h5>
                                                </a>
                                                @*<p class="disc">
                                                Pricing and Revenue Management
                                                </p>*@
                                            </div>
                                        </div>
                                        <!-- single -product area End -->
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <!-- single -product area -->
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/product/Zero-Based.jpg" alt="Zero-Based Budgeting ">
                                                <a class="rts-btn btn-primary rounded" asp-controller="BudgetingAr" asp-action="index"><i class="far fa-arrow-right"></i></a>
                                            </div>
                                            <div class="product-contact-wrapper">
                                                @*<span>Business Solution</span>*@
                                                <a asp-controller="BudgetingAr" asp-action="index">

                                                    <h5 class="title">تنظيم الميزانية والمصاريف </h5>
                                                </a>
                                                @*  <p class="disc">
                                                Zero-Based Budgeting
                                                </p>*@
                                            </div>
                                        </div>
                                        <!-- single -product area End -->
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <!-- single -product area -->
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/product/Risk-Management.JPG" alt="Risk Management and Compliance ">
                                                <a class="rts-btn btn-primary rounded" asp-controller="RiskManagementAr" asp-action="index"><i class="far fa-arrow-right"></i></a>
                                            </div>
                                            <div class="product-contact-wrapper">
                                                @*<span>Business Solution</span>*@
                                                <a asp-controller="RiskManagementAr" asp-action="index">
                                                    <h5 class="title">إدارة المخاطر وتجاوزها</h5>
                                                </a>
                                                @* <p class="disc">
                                                Risk Management and Compliance
                                                </p>*@
                                            </div>
                                        </div>
                                        <!-- single -product area End -->
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <!-- single -product area -->
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/product/Innovation-Strategy-.jpg" alt="Innovation Strategy and Delivery ">
                                                <a class="rts-btn btn-primary rounded" asp-controller="InnovationAr" asp-action="index"><i class="far fa-arrow-right"></i></a>
                                            </div>
                                            <div class="product-contact-wrapper">
                                                @*<span>Business Solution</span>*@
                                                <a asp-controller="InnovationAr" asp-action="index">
                                                    <h5 class="title">استراتيجية الابتكار والتسليم </h5>
                                                </a>
                                                @*  <p class="disc">
                                                Innovation Strategy and Delivery
                                                </p>*@
                                            </div>
                                        </div>
                                        <!-- single -product area End -->
                                    </div>
                                </div>
                                <!-- tab product area end-->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- our service area end -->
    <!-- service accordion area -->
    <div class="rts-accordion-area service rts-section-gap" style="direction:ltr">
        <div class="accordion-service-bg bg_image ptb--120 ptb_md--80 ptb_sm--60">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="accordion-service-inner" style="direction:rtl;" >
                            <div class="title-area-start">
                                <span class="sub color-primary"> استشارات الأعمال </span>
                                <h2 class="title">
                                    نحن نعرف كيفية إدارة
                                    الأعمال التجارية على الصعيد العالمي
                                </h2>
                            </div>
                            <div class="accordion-area">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                تطوير الاستراتيجية
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                صياغة استراتيجية رابحة هي حجر الزاوية لنجاح الأعمال. تتضمن خدمة تطوير الإستراتيجية لدينا تحليلًا متعمقًا وتعاونًا مع فريق القيادة الخاص بك لتحديد أهداف واضحة، وتحديد فرص النمو، ووضع خارطة طريق للنجاح المستدام.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                تخطيط الأعمال
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">تزودك خدمة تخطيط الأعمال لدينا بخطط عمل شاملة وقابلة للتنفيذ تحدد المسار لتحقيق أهدافك. </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                المقتنيات
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                يتطلب التنقل في تعقيدات عمليات الدمج والاستحواذ إرشادات الخبراء. تقدم خدمة الاستحواذ لدينا العناية الواجبة المتعمقة، تحليل الهدف، والاستشارات الاستراتيجية لدعم عملية اتخاذ القرار الخاصة بك.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                عملية التحسين
                                            </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">أطلق العنان للإمكانات والكفاءة الخفية في عملياتك من خلال خدمة تحسين العمليات الخاصة بنا.  </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFive">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                التحليل المالي
                                            </button>
                                        </h2>
                                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">تحكي الأرقام قصة، وتوفر خدمة التحليل المالي لدينا رؤى قيمة حول الصحة المالية لمؤسستك.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</body>

</html>