@model ExceedConsultancy.Models.BusinessModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Exceed Consultancy | People Strategy";
    ViewBag.MetaDescription = "People Strategy - Your people are your most valuable asset. We assist businesses in developing comprehensive people strategies, including talent acquisition, development, and retention. Our approach ensures that your workforce is aligned with your business objectives, fostering a culture of engagement and growth.";
    ViewBag.MetaKeywords = "People Strategy, talent acquisition, development, retention, workforce, business objectives, engagement, growth";

}


<body>


    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">People Strategy</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a asp-controller="Home" asp-action="index">Home</a>
                        <span> / </span>
                        People Strategy
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- start service details area -->
    <div class="rts-service-details-area rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-12 col-sm-12 col-12">
                    <!-- service details left area start -->
                    <div class="service-detials-step-1">
                        <div class="thumbnail">
                            <img src="assets/images/People-Strategy.jpg" alt="People Strategy">
                        </div>
                        <h4 class="title">People Strategy</h4>
                        <p class="disc">
                            Your people are your most valuable asset. We assist businesses in developing comprehensive people strategies, including talent acquisition, development, and retention. Our approach ensures that your workforce is aligned with your business objectives, fostering a culture of engagement and growth.
                        </p>

                    </div>
                    <!-- service details left area end -->

                </div>
                <!--rts blog wizered area -->
                <div class="col-xl-4 col-md-12 col-sm-12 col-12 mt_lg--60 pl--50 pl_md--0 pl-lg-controler pl_sm--0">
                    <!-- single wizered start -->
                    <div class="rts-single-wized Categories service">
                        <div class="wized-header">
                            <h5 class="title">
                                Categories
                            </h5>
                        </div>
                        <div class="wized-body">
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="Business" asp-action="index">Business and Organizational Purpose  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <!-- single categoris End -->
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="Finance" asp-action="index">Corporate Finance and Strategy  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <!-- single categoris End -->
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="Technology" asp-action="index">Digital, Technology, and Data<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="ArtificialIntelligence" asp-action="index">Artificial Intelligence  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="MonitoringEvaluation" asp-action="index">Monitoring and Evaluation  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Manufacturing" asp-action="index">Manufacturing  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Marketing" asp-action="index">Growth, Marketing, and Sales <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Operations" asp-action="index">Operations <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Implementation" asp-action="index">Implementation <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="OrganizationStrategy" asp-action="index">Organization Strategy<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="PeopleStrategy" asp-action="index">People Strategy  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Pricing" asp-action="index">Pricing and Revenue Management  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Budgeting" asp-action="index">Zero-Based Budgeting<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="RiskManagement" asp-action="index">Risk Management and Compliance  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Innovation" asp-action="index">Innovation Strategy and Delivery  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</body>