@model ExceedConsultancy.Models.LoginViewModel;

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<section id="CreatePage" class="FormHeight" style="background-color: #c8bef2;">
    <div class="container formCRUD">
        <div class=" text-center">
            <h1>Access Denied</h1>
        </div>
        
    </div>
</section>


