@model ExceedConsultancy.Models.HusseinModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MetaDescription = "";
    ViewBag.MetaKeywords = "";
}


<body>
    <!-- End header area -->

  


    <div id="anywhere-home">
    </div>
    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">Hussein El Mussawi</h1>
                </div>
            
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- rts-team details area Start-->
    <div class="rts-team-details rts-section-gap">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div class="details-thumb">
                        <img src="assets/images/team/tm/hussein1.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 pl--35 pl_sm--15">
                    <div class="details-right-inner">
                        <div class="title-area">
                            <span class="pre-title">
                                مدير عام وكبير مستشاري الرعاية الصحية
                            </span>
                            <h3 class="title"> Dr. Hussein El Mussawi</h3>
                        </div>
                        <p class="disc">
                            بصفته مستشارا متخصصا في الرعاية الصحية يتمتع بخبرة في كل من الإدارة المالية والعمليات ، فإن الدكتور حسين شغوف بقيادة الحلول التحويلية لمؤسسات الرعاية الصحية. يتمتع بخلفية قوية في استراتيجية الرعاية الصحية وتحسين العمليات وتحليل البيانات والتخطيط المالي ، ولديه سجل حافل في مساعدة مقدمي الرعاية الصحية على التغلب على التحديات المعقدة وتحقيق أهدافهم الاستراتيجية.<br />    <br />
                            مع فهم عميق لصناعة الرعاية الصحية والإدارة المالية ، يمتلك الدكتور حسين القدرة على تحديد فرص التحسين وتطوير استراتيجيات مصممة خصيصا تدفع التميز التشغيلي والأداء المالي.
                            طوال حياته المهنية ، تعاون بنجاح مع فرق الرعاية الصحية لتنفيذ تحسينات العملية التي تعزز الكفاءة وتبسيط سير العمل وتقديم رعاية عالية الجودة للمرضى.
                            علاوة على ذلك ، بصفته الرئيس التنفيذي لمستشفى مارينا الخاص ، الواقع في بغداد-التلبية ، كان له تأثير إيجابي على مجتمع الرعاية الصحية من خلال تقديم الاستشارات والأدوية للعديد من المستشفيات.
                            <br />    <br />
                            الدكتور حسين متخصص في: استشاري الرعاية الصحية ، الحلول التحويلية ، استراتيجية الرعاية الصحية ، تحسين العمليات ، تحليل البيانات ، التميز التشغيلي ، الأداء المالي ، رعاية المرضى عالية الجودة ، التنبؤ ، الامتثال ، خدمات الرعاية الصحية الخيرية ، الشراكات الاستراتيجية ، الرعاية ، التأثير المجتمعي ، النمو المستدام ، التميز في تقديم الرعاية الصحية.
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts-team details area ENd -->
    <!-- rts skills area start -->
   
</body>