@model ExceedConsultancy.Models.ElianeArModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
    ViewBag.Title = "Exceed Consultancy | اليان فضول | كبير مستشاري تطوير الأعمال";
    ViewBag.MetaDescription = "اليان فضول هو كبير مستشاري تطوير الأعمال بخبرة تزيد عن 20 عامًا في إدارة الأعمال التجارية الشركات في مختلف الصناعات. إنها تتميز في تحديد نقاط ضعف الأعمال والتحديات وتقديم الحلول المناسبة ووضع الخطط الاستراتيجية لأقسام التسويق والمبيعات.";
    ViewBag.MetaKeywords = "اليان فضول، كبير مستشاري تطوير الأعمال، إدارة الأعمال التجارية، مدير المشروع، التجزئة، العقارات، الصحة، التسويق، المبيعات، خطة استراتيجية، قيادة الفريق، تحليل السوق";

}


<body>
    <!-- End header area -->

  


    <div id="anywhere-home">
    </div>
    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">Eliane Fadoul</h1>
                </div>
            
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- rts-team details area Start-->
    <div class="rts-team-details rts-section-gap">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div class="details-thumb">
                            <img src="assets/images/team/tm/eliane1.jpg" alt="eliane">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 pl--35 pl_sm--15">
                    <div class="details-right-inner">
                        <div class="title-area">
                            <span class="pre-title">
                                مستشار تطوير الأعمال
                            </span>
                            <h3 class="title">Eliane Fadoul</h3>
                        </div>
                        <p class="disc">
                            إليان فضول مستشارة خبيرة في تطوير الأعمال.
                            <br /><br />
                            لديها أكثر من 20 عامًا من الخبرة في إدارة أعمال الشركات، اكتسبتها أثناء عملها بصفتها مدير مشروع مع شركات قابضة محلية ودولية في صناعات مختلفة (قطاع السياحة، التجزئة، النقل، الترفيه، التربية، العقارات، البترول والصحة) من خلال مساعدة الشركات على تحديد نقاط الضعف في الأعمال والتحديات وتحديد الحلول ذات الصلة.
                            <br /><br />
                            تعاونت إليان مع الشركات الكبرى والإدارة العليا الموجودة في لبنان وقطر والعراق وفرنسا من أجل:
                            <br />
                            - تقديم المساعدة في تنفيذ الخطط والاستراتيجيات المقترحة.
                            <br />
                            - وضع خطة استراتيجية لأقسام التسويق والمبيعات.
                            <br />
                            - الإشراف وفحص تقدم الاستراتيجية الجديدة وتطويرها.
                            <br />
                            - تثقيف وقيادة والإشراف على أعضاء فريق تطوير الأعمال لضمان إنجاز المشروع.
                            <br />
                            - القيام بإجراء تحليل معقد من أجل إيجاد فرص جديدة في السوق.
                            <br />
                            - التحقيق في المنتجات والخدمات الحالية ومقارنتها مع المنافسين.
                            <br /><br />
                            إليان حاصلة على درجة الماجستير في العلوم السياسية، والتصميم الجرافيكي، والأدب الفرنسي، وشهادة الدراسات العليا في Microsoft Office 365، وكتابة الأعمال المهنية، وآداب العمل والاحتراف مع معرفة عميقة بمعايير ISO الدولية / 9001.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts-team details area ENd -->
    <!-- rts skills area start -->
   
</body>