@model ExceedConsultancy.Models.ManagementArModel
@{
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
     ViewBag.Title = "Exceed Consultancy | Project Management";
    ViewBag.MetaDescription = "Successful projects require meticulous planning, execution, and monitoring. Our expert project management team follows industry-proven methodologies to ensure timely and on-budget project delivery, exceeding your expectations. Our Project Management Services offer end-to-end solutions to ensure the successful delivery of your projects.";
    ViewBag.MetaKeywords = "Project Management, expert project management team, industry-proven methodologies, timely project delivery, on-budget project delivery, Project Management Services, end-to-end solutions, expert guidance, project lifecycle, experienced project managers, project milestones, strategic objectives, Agile, Scrum, Waterfall, Lean, risk mitigation, constant communication, stakeholder engagement, flexibility, adaptability";

}


<body>
   

    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">إدارة المشاريع</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a asp-controller="HomeAr" asp-action="index">الرئيسية</a>
                        <span> / </span>
                        إدارة المشاريع
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- start service details area -->
    <div class="rts-service-details-area rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-12 col-sm-12 col-12">
                    <!-- service details left area start -->
                    <div class="service-detials-step-1">
                        <div class="thumbnail">
                            <img src="assets/images/service/project.jpg" alt="business-area">
                        </div>
                        <h4 class="title">
                            إدارة المشاريع
</h4>
                        <p class="disc">
                            تتطلب المشاريع الناجحة تخطيطا دقيقا وتنفيذا ومراقبة. يتبع فريق إدارة المشاريع الخبير لدينا منهجيات مثبتة في الصناعة لضمان تسليم المشروع في الوقت المناسب و ضمن الميزانية، بما يتجاوز توقعاتك.
                        </p>

                        <!--<div class="row g-5 mt--30 mb--40">
                        <div class="col-lg-6">-->
                        <!-- single service details card -->
                        <!--<div class="service-details-card">
                            <div class="thumbnail">
                                <img src="assets/images/service/icon/09.svg" alt="" class="icon">
                            </div>
                            <div class="details">
                                <h6 class="title">Instant Business Growth</h6>
                                <p class="disc">Maintain wireless scerios after sure quality vectors future</p>
                            </div>
                        </div>-->
                        <!-- single service details card End -->
                        <!--</div>
                        <div class="col-lg-6">-->
                        <!-- single service details card -->
                        <!--<div class="service-details-card">
                            <div class="thumbnail">
                                <img src="assets/images/service/icon/10.svg" alt="" class="icon">
                            </div>
                            <div class="details">
                                <h6 class="title">24/7 Quality Service</h6>
                                <p class="disc">Maintain wireless scerios after sure quality vectors future</p>
                            </div>
                        </div>-->
                        <!-- single service details card End -->
                        <!--</div>
                        <div class="col-lg-6">-->
                        <!-- single service details card -->
                        <!--<div class="service-details-card">
                            <div class="thumbnail">
                                <img src="assets/images/service/icon/11.svg" alt="" class="icon">
                            </div>
                            <div class="details">
                                <h6 class="title">Easy Customer Service</h6>
                                <p class="disc">Maintain wireless scerios after sure quality vectors future</p>
                            </div>
                        </div>-->
                        <!-- single service details card End -->
                        <!--</div>
                        <div class="col-lg-6">-->
                        <!-- single service details card -->
                        <!--<div class="service-details-card">
                            <div class="thumbnail">
                                <img src="assets/images/service/icon/12.svg" alt="" class="icon">
                            </div>
                            <div class="details">
                                <h6 class="title">Quality Cost Service</h6>
                                <p class="disc">Maintain wireless scerios after sure quality vectors future</p>
                            </div>
                        </div>-->
                        <!-- single service details card End -->
                        <!--</div>
                        </div>-->
                        <!-- stem-area start -->
                        <!--<div class="row  mb--40 g-5 mb_md--20 mb_sm--20">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="single-service-step text-center">
                                    <p class="step">01</p>
                                    <h6 class="title">
                                        STEP ONE
                                    </h6>
                                    <p class="disc">
                                        Tactical services through market web services
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="single-service-step text-center">
                                    <p class="step">02</p>
                                    <h6 class="title">
                                        STEP TWO
                                    </h6>
                                    <p class="disc">
                                        Tactical services through market web services
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="single-service-step text-center">
                                    <p class="step">03</p>
                                    <h6 class="title">
                                        STEP THREE
                                    </h6>
                                    <p class="disc">
                                        Tactical services through market web services
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="single-service-step text-center">
                                    <p class="step">03</p>
                                    <h6 class="title">
                                        STEP THREE
                                    </h6>
                                    <p class="disc">
                                        Tactical services through market web services
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="single-service-step text-center">
                                    <p class="step">03</p>
                                    <h6 class="title">
                                        STEP THREE
                                    </h6>
                                    <p class="disc">
                                        Tactical services through market web services
                                    </p>
                                </div>
                            </div>
                        </div>-->
                        <!-- stem-area End -->
                    </div>
                    <!-- service details left area end -->

                </div>
                <!--rts blog wizered area -->
                <div class="col-xl-4 col-md-12 col-sm-12 col-12 mt_lg--60 pl--50 pl_md--0 pl-lg-controler pl_sm--0">
                    <!-- single wizered start -->
                    <div class="rts-single-wized Categories service">
                        <div class="wized-header">
                            <h5 class="title">
                                الفئات
                            </h5>
                        </div>
                        <div class="wized-body">
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="BusinessAr" asp-action="index">استشارات الأعمال <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <!-- single categoris End -->
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="TechnologyAr" asp-action="index">الخدمات المعلوماتية <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <!-- single categoris End -->
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="ManagementAr" asp-action="index">إدارة المشاريع <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <br />
                            <img src="assets/images/service/servicesproj.jpg" />
                            <!-- single categoris End -->
                        </div>
                    </div>
                    <!-- single wizered End -->
                    <!-- single wizered start -->
                    <!-- single wizered End -->
                    <!-- single wizered start -->
                    <!-- single wizered End -->
                </div>
                <!-- rts- blog wizered end area -->
            </div>

            <div class="row mt--35">


                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                    <div class="thumbnail sm-thumb-service">
                        <img src="assets/images/service/smp-01.jpg" alt="Service">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
                    <h6 class="title">خدمات إدارة المشاريع  </h6>
                    <p class="disc">
                        تقدم خدمات إدارة المشاريع لدينا حلولا شاملة لضمان التسليم الناجح لمشاريعك. من البداية إلى الانتهاء، نتعامل مع كل جانب، ونوفر لك إرشادات الخبراء والدعم طوال دورة حياة المشروع. لدينا مديري مشاريع من ذوي الخبرة ويتميزون بثروة من المعرفة والمهارات، مما يضمن لك أن يتم الانتهاء من المشاريع الخاصة بك في الوقت المحدد، في حدود الميزانية، وضمن أعلى معايير الجودة و الاتقان.
                    </p>


                </div>
            </div>
            <div class="row mt--35">
                <div class="col-xl-6 col-lg-6  col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
                    <h6 class="title">المنهجية المستخدمة</h6>
                    <p class="disc">
                        نحن نوظف منهجيات مثبتة في الصناعة لدفع نجاح المشروع. فريقنا هو على دراية جيدة في مختلف نهج إدارة المشاريع، مثل Agile، Scrum، Waterfall، Lean. نحن نصمم المنهجية لتناسب المتطلبات المحددة لمشروعك على أفضل وجه، مما يضمن المرونة والقدرة على التكيف مع الظروف المتغيرة.
                        <br /><br />
                        تشمل منهجية إدارة المشروع لدينا التخطيط الواضح، وتخصيص الموارد بكفاءة، وتخفيف المخاطر، والتواصل المستمر لإبقاء جميع أصحاب المصلحة على اطلاع ومشاركة طوال تقدم المشروع. من خلال اسلوبنا المنظم، يمكنك أن تثق في تحقيق معالم المشروع وتحقيق أهدافك الاستراتيجية.
                    </p>



                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                    <div class="thumbnail sm-thumb-service">
                        <img src="assets/images/service/smp-02.jpg" alt="Service">
                    </div>
                </div>
            </div>




        </div>
    </div>
  
</body>