@model WhyUsAccordionViewModel


@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<section id="CreatePage" class="FormHeight">
    <div class="container formCRUD">
        <div class=" text-center">
            <h1>Create Accordion</h1>
        </div>

        @if (TempData["fail"] != null)
        {
            <p class="alert alert-danger d-block">@TempData["fail"]</p>
        }
        @if (TempData["success"] != null)
        {
            <p class="alert alert-success d-block">@TempData["success"]</p>
        }

        <form asp-action="CreateAccordionOne" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label asp-for="AccordionId">Accordion Number</label>
                <input asp-for="AccordionId" class="form-control">
                <span asp-validation-for="AccordionId"></span>
            </div>

            <div class="form-group">
                <label asp-for="Order"></label>
                <input asp-for="Order" class="form-control">
                <span asp-validation-for="Order"></span>
            </div>

            <div class="form-group">
                    <label asp-for="TitleAccordion"> English Title</label>
                    <input asp-for="TitleAccordion" class="form-control">
                    <span asp-validation-for="TitleAccordion"></span>
            </div>


            <div class="form-group">
                <label asp-for="TitleAccordion_Ar">Arabic Title</label>
                <input asp-for="TitleAccordion_Ar" class="form-control">
                <span asp-validation-for="TitleAccordion_Ar"></span>
            </div>
        

            <div class="form-group">
                <label asp-for="SubTitleAccordion">English Description</label>
                <textarea asp-for="SubTitleAccordion" class="form-control" rows="3"></textarea>
                <span asp-validation-for="SubTitleAccordion"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTitleAccordion_Ar">Arabic Description</label>
                <textarea asp-for="SubTitleAccordion_Ar" class="form-control" rows="3"></textarea>
                <span asp-validation-for="SubTitleAccordion_Ar"></span>
            </div>

            <div class="form-group">
                <a asp-action="WhyUsAbout" class="btn btn-secondary" style="font-size: 25px;">Cancel</a>
                <button type="submit" class="btn btn-primary w-auto" style="font-size: 25px;">Create</button>
            </div>


        </form>
    </div>
</section>








