@model Footer


@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<section id="CreatePage" class="FormHeight" style="background-color: #c8bef2;">
    <div class="container formCRUD">
        <div class=" text-center">
            <h1>Edit Footer</h1>
        </div>

        @if (TempData["fail"] != null)
        {
            <p class="alert alert-danger d-block">@TempData["fail"]</p>
        }
        @if (TempData["success"] != null)
        {
            <p class="alert alert-success d-block">@TempData["success"]</p>
        }

        <form asp-action="Footer" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="FooterId" />
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description_Ar">Arabic Description</label>
                <textarea asp-for="Description_Ar" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description_Ar"></span>
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-primary w-auto" style="font-size: 25px;">Save Changes</button>
                <a asp-action="Home" class="btn btn-secondary" style="font-size: 25px;">Cancel</a>
            </div>
        </form>
    </div>
</section>