@model ExceedConsultancy.Models.AboutModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MetaDescription = "";
    ViewBag.MetaKeywords = "";

    ViewBag.Title = "Xeed Consulting | About Us | Administrative services";
    ViewBag.MetaDescription = "Providing comprehensive administrative services, health programs, and investments in real estate, industry, and agriculture. Partnered with major international companies.";
    ViewBag.MetaKeywords = "Xeed Consulting, empowering businesses, innovation, strategic expertise, innovative solutions, complex challenges, growth opportunities, sustainable success"; 


}


<body>
    <!-- End header area -->

  

    <div class="search-input-area">
        <div class="container">
            <div class="search-input-inner">
                <div class="input-div">
                    <input id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                    <button><i class="far fa-search"></i></button>
                </div>
            </div>
        </div>
        <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
    </div>

    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">About Us</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a asp-controller="Home" asp-action="index">Home</a>
                        <span> / </span>
                      About Us
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- rts about us section start -->
    <div class="rts-about-area rts-section-gap">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5">
                    <div class="about-image-v-inner">
                        <div class="image-area">
                            <img class="mt--110 img-1" src="assets/images/about/main/about-03.jpg" alt="about">
                            <img class="img-over" src="assets/images/about/main/about-04.jpg" alt="about">
                            <!-- <div class="goal-button-wrapper">
                                <div class="vedio-icone">
                                    <a id="play-video" class="video-play-button" href="#">
                                        <span></span>
                                    </a>
                                    <div id="video-overlay" class="video-overlay">
                                        <a class="video-overlay-close">×</a>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="about-progress-inner">
                        <div class="title-area">
                         @*   <span></span>*@
                          <h2 class="title">About Xeed Consulting</h2>
                        </div>
                        <!-- inner start -->
                        <div class="inner">
                            <p class="disc">
                                Xeed Consulting was founded with the purpose of empowering businesses
                                through innovating business and technology-driven strategies. Since our inception, we
                                have partnered with numerous organizations across various industries, delivering
                                tangible results and transformative outcomes.<br/><br/>
                                We are dedicated to helping organizations thrive through our strategic expertise and
                                innovative solutions, we empower businesses to navigate complex challenges, seize growth
                                opportunities, and achieve sustainable success.<br /><br />
                                Xeed Consulting emerged from a shared vision of a team of seasoned consultants who
                                recognized the transformative potential of combining business acumen with cutting-edge
                                technology. Over the years, we have built a solid reputation for delivering tangible
                                results and driving positive change for our clients. Our commitment to excellence,
                                continuous learning, and client-centric approach has been the cornerstone of our
                                success.
                            </p>

                        </div>
                        <div class="inner-about-three ">

                            <!-- <h4>Join Us on Your Journey to Success</h4> -->
                            <p class="disc mt-3">
                                <!-- <div class="title-area">
                                    <span>Join Us</span>
                                    <h2 class="title">Join Us on Your Journey to Success</h2>
                                </div> -->
                                <span style="font-size:20px; color: #104e7e;">Mission</span><br />
                                "To empower businesses through innovative strategies and technology-driven solutions, fostering growth and sustainable success in a dynamic and digital world."
                            

                            </p>

                            <p class="disc">
                                <span style="font-size:20px; color: #104e7e;">Vision </span><br />
                                "To be a leading global partner for businesses, revolutionizing industries through innovative business strategies and technology solutions, empowering our clients to achieve unparalleled growth and success."
                            </p>

                        </div>

                        <!-- end -->
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- rts about us section end -->
    @*<div class="rts-faq-area rts-section-gap inner inner2 bg_image">*@
    <div class="rts-faq-section rts-section-gap rts-faq-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="faq-two-inner">
                        <div class="title-area-faq">
                            <span class="sub">WHY CHOOSE US</span>
                            <h2 class="title">
                                We understand that each  
                                <span class="sm-title">business <span>is unique</span></span>
                            </h2>


                            <p>
                                We understand that each business is unique, and there is no one-size-fits-all solution.
                                Our tailored approach ensures that we delve deep into your organization's specific
                                needs, challenges, and goals to craft strategies that yield meaningful outcomes.
                            </p>
                           
                        </div>
                        <div class="accordion-area inner inner2 pt-4">
                                           
                                            <div class="accordion-one-inner inner">
                                                <div class="accordion" id="accordionExample4">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingOne">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapseOne">
                                                                 <span>01. </span> Expert Team
                                                            </button>
                                                        </h2>
                                                        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample4" style="">
                                            <div class="accordion-body">
                                                Our consultancy boasts a team of highly skilled professionals, each bringing
                                                a wealth of experience and expertise to the table. From business analysts to
                                                technology architects, project managers, and industry specialists, our
                                                diverse talent pool ensures that we can address a wide spectrum of
                                                challenges across various sectors.


                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingTwo">
                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapseTwo">
                                                                <span>02. </span>Client-Centric Focus
                                                            </button>
                                                        </h2>
                                                        <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample4" style="">
                                            <div class="accordion-body">
                                                We prioritize our clients' success above all else. Our collaborative
                                                approach involves working closely with your team, understanding your vision,
                                                and aligning our strategies with your business objectives. Your success is
                                                our success, and we take pride in being a reliable partner throughout your
                                                growth journey.
                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingThree">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapseThree">
                                                                <span>03. </span> Innovative Solutions
                                                            </button>
                                                        </h2>
                                                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample4">
                                                            <div class="accordion-body">
                                            In today's fast-paced world, staying ahead of the curve is crucial. We
                                            constantly stay updated with the latest industry trends and emerging
                                            technologies to offer innovative solutions that give you a competitive edge.
                                            Whether it's harnessing the power of data analytics or integrating
                                            artificial intelligence, our solutions are future-proof and designed to
                                            drive sustainable growth.
                                        </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingFour">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapseFour">
                                                                 <span>04. </span> Ethical Practices
                                                            </button>
                                                        </h2>
                                                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample4">
                                                          <div class="accordion-body">
                                            Integrity and ethical practices are at the heart of everything we do. We
                                            uphold the highest standards of professionalism, ensuring transparency,
                                            confidentiality, and compliance in all our interactions and engagements.


                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                  @*  </div>
                                </div>
                           *@
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="thumbnail-faq-four">
                        <img src="assets/images/faq/02.png" alt="business">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
       <!-- rts-team details area Start-->
    <div class="rts-team-details rts-section-gap">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div class="details-thumb">
                        <img src="assets/images/Leadership.jpg" alt="Leadership">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 pl--35 pl_sm--15">
                    <div class="details-right-inner">
                        <div class="title-area">
                            @*<span class="pre-title">
                               Leadership 
                            </span>*@
                            <h3 class="title">Leadership</h3>
                        </div>
                        
                        <p class="disc">
                            At Xeed Consulting, our success story is written by the dynamic individuals who lead, the unwavering purpose that drives us, and the core values that guide our every action.<br />
                            Our leadership team comprises seasoned professionals with a track record of excellence in various industries. Their extensive experience and deep insights into business intricacies make them the driving force behind our consultancy. They lead by example, infusing the organization with a culture of innovation, collaboration, and client-centricity.
                          <br />  Our leaders are not just experts; they are your partners in achieving success. Their commitment to transformation and dedication to your growth are the cornerstones of our consultancy.

                        </p>
                        <a asp-controller="Quote" asp-action="Index" class="rts-btn btn-primary"> Get in Touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="rts-accordion-area service rts-section-gap inner">
        <div class="accordion-service-bg bg_image inner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 ">
                        <div class="accordion-service-inner inner">
                            <div class="title-area-start">
                                <h2 class="title">How We Work</h2>

                                <p>At Xeed Consulting, our approach to consultancy is rooted in collaboration, transparency, and delivering measurable results. We understand that each organization is unique, and we tailor our methodology to suit your specific needs. Here's a closer look at how we work:</p>
                            </div>
                            <div class="accordion-area">
                                <div class="accordion" id="accordionExample3">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFive">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                                1. Initial Consultation
                                            </button>
                                        </h2>
                                        <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                                Our journey together begins with an in-depth consultation. During this phase, we take the time to understand your organization's goals, challenges, and aspirations. We believe that a thorough understanding of your unique circumstances is essential for crafting effective strategies.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSix">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                2. Needs Assessment
                                            </button>
                                        </h2>
                                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                                Once we have a clear picture of your organization, we conduct a comprehensive needs assessment. This involves a deep dive into your current processes, performance metrics, and industry dynamics. We identify areas of improvement and opportunities for growth.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSeven">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                3. Strategy Development
                                            </button>
                                        </h2>
                                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                                With the information gathered from the needs assessment, we develop a customized strategy tailored to your objectives. Our strategy is not a one-size-fits-all solution; it's a roadmap designed specifically for your organization's success. We involve you in the strategy development process, ensuring alignment with your vision.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingEight">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                4. Implementation
                                            </button>
                                        </h2>
                                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                                Strategy without action is just a plan. We roll up our sleeves and get to work alongside your team to implement the strategies we've developed. Our consultants provide guidance, support, and hands-on assistance to ensure the smooth execution of the plan.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingNine">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                               5. Continuous Measurement and Evaluation
                                            </button>
                                        </h2>
                                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                                We believe in continuous improvement. Throughout our engagement, we monitor progress against predefined Key Performance Indicators (KPIs). If we see that adjustments are needed to achieve your goals, we adapt and refine our strategies accordingly.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTen">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                                6. Transparency
                                            </button>
                                        </h2>
                                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                                Transparency is a core value in our approach. We maintain open lines of communication throughout our partnership. You'll receive regular updates on progress, challenges, and opportunities. We encourage questions and feedback to ensure that you are fully informed and engaged in the process.
                                            </div>
                                        </div>
                                    </div>
                                     <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingEleven">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                                7. Collaboration
                                            </button>
                                        </h2>
                                        <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                                We don't work in isolation; we work collaboratively with your team. We believe in leveraging your organization's internal expertise and insights. By working together, we create a synergy that enhances the effectiveness of our strategies.
                                            </div>
                                        </div>
                                    </div>
                                     <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwelve">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTweleve" aria-expanded="false" aria-controls="collapseTweleve">
                                                8. Flexibility
                                            </button>
                                        </h2>
                                        <div id="collapseTweleve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                              We understand that the business landscape is ever-changing. Our approach is agile and adaptable. If unexpected challenges arise or market dynamics shift, we are ready to pivot and adjust our strategies to keep you on the path to success. </div>
                                        </div>
                                    </div>
                                     <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThirtin">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirtin" aria-expanded="false" aria-controls="collapseThirtin">
                                                9. Knowledge Sharing
                                            </button>
                                        </h2>
                                        <div id="collapseThirtin" class="accordion-collapse collapse" aria-labelledby="headingThirtin" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                               We believe in empowering our clients with knowledge. Throughout our engagement, we provide training and knowledge transfer to ensure that your team has the skills and understanding to sustain the improvements we've implemented</div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFoutin">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFoutin" aria-expanded="false" aria-controls="collapseFoutin">
                                                10. Long-Term Partnership
                                            </button>
                                        </h2>
                                        <div id="collapseFoutin" class="accordion-collapse collapse" aria-labelledby="headingFoutin" data-bs-parent="#accordionExample3">
                                            <div class="accordion-body">
                                                Our commitment doesn't end with the completion of a project. We aim to build long-term partnerships with our clients. As your organization evolves, we will be there to support you, offering guidance and solutions to address new challenges and seize new opportunities.
                                                At Xeed Consulting, we are not just consultants; we are your dedicated partners in achieving your business objectives. Our approach is founded on collaboration, transparency, and a shared commitment to your success.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

             <div class="col-xl-6 pt-sm-4">

                    <div class="accordion-service-inner">
                        <div class="title-area-start">
                                @*<span class="sub color-primary"> Xeed Consulting</span>*@
                            <h2 class="title">
                                    Our Commitment
                            </h2>
                                <p>At Xeed Consulting, our commitment to our clients is the cornerstone of our consultancy practice. We understand that entrusting us with your business challenges and aspirations is a significant decision, and we take this responsibility seriously. Our unwavering commitment to you is what sets us apart.</p>
                        </div>
                        <div class="accordion-area">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Your Success is Our Business
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                                Our foremost commitment is to your success. When you choose Xeed Consulting, you're not just hiring a consultancy firm; you're gaining a partner dedicated to helping you achieve your goals. Your objectives become our mission, and we work tirelessly to ensure they are met.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Understanding Your Unique Needs
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                         We are committed to understanding your unique challenges and needs. No two businesses are alike, and cookie-cutter solutions rarely yield meaningful results. We take the time to listen and learn about your organization, industry, and goals. This commitment to understanding forms the foundation of our consultancy approach.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Crafting Tailored Solutions
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            One size does not fit all. Our commitment extends to crafting tailored solutions that align with your objectives. We draw upon our extensive expertise to create strategies that are not only effective but also sustainable in the long term. Our solutions are as unique as your business.
                                        </div>
                                    </div>
                                </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Transparency and Collaboration
                                            </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                We believe in open and transparent partnerships. Throughout our engagement, we are committed to keeping you informed and involved. Our collaborative approach ensures that you are an active participant in the decision-making process. We value your insights and feedback and incorporate them into our strategies.
                                            </div>
                                        </div>
                                    </div>

                                   @*<div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFIVE">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFIVE" aria-expanded="false" aria-controls="collapseFIVE">
                                                Transparency and Collaboration
                                            </button>
                                        </h2>
                                        <div id="collapseFIVE" class="accordion-collapse collapse" aria-labelledby="headingFIVE" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                We believe in open and transparent partnerships. Throughout our engagement, we are committed to keeping you informed and involved. Our collaborative approach ensures that you are an active participant in the decision-making process. We value your insights and feedback and incorporate them into our strategies.
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSIX">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSIX" aria-expanded="false" aria-controls="collapseSIX">
                                                Measuring Progress and Adaptation
                                            </button>
                                        </h2>
                                        <div id="collapseSIX" class="accordion-collapse collapse" aria-labelledby="headingSIX" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                              Our commitment doesn't end with the implementation of solutions. We continuously measure progress against predefined goals and Key Performance Indicators (KPIs). If adjustments are needed, we are agile and adaptable, ready to refine our strategies to ensure success.
                                            </div>
                                        </div>
                                    </div>


                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSEVEN">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSEVEN" aria-expanded="false" aria-controls="collapseSEVEN">
                                                A Dedicated Team of Experts
                                            </button>
                                        </h2>
                                        <div id="collapseSEVEN" class="accordion-collapse collapse" aria-labelledby="headingSEVEN" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                           Our team of consultants is deeply committed to your success. They bring a wealth of experience, fresh perspectives, and a shared dedication to your growth. When you work with us, you're not just getting a consultancy firm; you're gaining a team of passionate individuals invested in your success.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingEIGHT">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEIGHT" aria-expanded="false" aria-controls="collapseEIGHT">
                                                Ethical Business Practices
                                            </button>
                                        </h2>
                                        <div id="collapseEIGHT" class="accordion-collapse collapse" aria-labelledby="headingEIGHT" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                             We uphold the highest standards of ethical business practices. Our commitment to integrity and honesty is unwavering. We believe that trust is the foundation of successful partnerships, and we earn your trust through our actions and results.
                                            </div>
                                        </div>
                                    </div>


                                      <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingNEINE">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNEINE" aria-expanded="false" aria-controls="collapseNEINE">
                                             Long-term Partnership
                                            </button>
                                        </h2>
                                        <div id="collapseNEINE" class="accordion-collapse collapse" aria-labelledby="headingNEINE" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                              Our commitment extends beyond the immediate project. We aim to build long-term partnerships with our clients. As your business evolves, we will be there to support you, offering guidance and solutions to address new challenges and seize new opportunities.
                                            </div>
                                        </div>
                                    </div>

                                     <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTEN">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTEN" aria-expanded="false" aria-controls="collapseTEN">
                                             Your Goals, Our Mission
                                            </button>
                                        </h2>
                                        <div id="collapseTEN" class="accordion-collapse collapse" aria-labelledby="headingTEN" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                             At Xeed Consulting, your goals become our mission. We are not just consultants; we are partners in your journey to success. Our commitment is to be with you every step of the way, helping you navigate the complexities of the business landscape.
                                             When you choose Xeed Consulting, you're choosing a consultancy firm that is deeply committed to your success. Your objectives are not just goals; they are our commitment. 

                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                      </div>
              </div>

              <p class="mb-0 pt-4">Contact us today to learn more about how we work and how we can help you transform your business. Your success is our mission, and together, we'll make it happen.</p>
                                    <div class="details-right-inner">
                        <a asp-controller="Quote" asp-action="Index" class="rts-btn btn-primary"> Get in Touch</a>
                                    </div>
                </div>
             </div>
         </div>
  </div>
   

    <div class="rts-about-area rts-section-gap bg-about-sm-shape Purpose" id="about-us">
        <div class="container">
            <div class="row g-5 align-items-center">
                <!-- about left -->
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-1 order-md-2 order-sm-2 order-2 mt_md--50 mt_sm--50">
                    <div class="rts-title-area">
                        <p class="pre-title">
                            Xeed Consulting
                        </p>
                        <h2 class="title">
                          Our Aspiration
                        </h2>
                    </div>
                    <div class="about-inner">
                        <p class="disc">
                            At Xeed Consulting, we aspire to be more than just a consultancy firm; we aspire to be your strategic partner on the journey to success. Our aspirations are rooted in a vision of a thriving business world, where every organization has the tools, knowledge, and support to not just adapt to change, but to excel in it.
                        </p>
                        <p class="disc">
                            <span style="font-size:20px; color: #104e7e;">Empowering Your Success</span>
                            <br>
                            Our primary aspiration is simple yet profound:   <span style="font-size:20px; color: #104e7e;">to empower organizations to reach their full potential. </span> We believe that every business, regardless of its size or industry, has untapped potential waiting to be discovered. Our role is to unlock that potential and help you achieve remarkable results.
                        </p>

                      <div class="accordion-area inner inner2">
                        <div class="accordion-one-inner inner">
                            <div class="accordion" id="accordionExample4">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwelve">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapseTwelve">
                                                <span>01.</span> Nurturing Growth
                                        </button>
                                    </h2>
                                    <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample4" style="">
                                        <div class="accordion-body">
                                                We aspire to nurture growth in every sense of the word. We don't just aim for short-term gains; we're in it for the long haul. Our consultancy solutions are designed to foster sustainable growth that transcends market fluctuations and economic challenges.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThirty">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapseThirty">
                                            <span>02.</span> Driving Innovation
                                        </button>
                                    </h2>
                                    <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="headingThirty" data-bs-parent="#accordionExample4" style="">
                                        <div class="accordion-body">
                                                Innovation is at the heart of progress, and we aspire to drive innovation within your organization. We encourage creative thinking, fresh perspectives, and the adoption of cutting-edge technologies. Our aim is to help you stay ahead of the curve and be a leader in your industry.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFourty">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapsegFourty">
                                                <span>03.</span> Building Resilience
                                        </button>
                                    </h2>


                                    <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="headingFourty" data-bs-parent="#accordionExample4">
                                        <div class="accordion-body">
                                                The business landscape is ever-changing, and we aspire to build resilience within your organization. We want you to not only survive in times of uncertainty but to thrive in them. Our strategies are crafted to make your organization agile, adaptable, and ready to overcome any challenge.
                                        </div>
                                    </div>
                                </div>


                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFivty">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapseFivty">
                                            <span>04.</span> Creating Positive Impact
                                        </button>
                                    </h2>
                                    <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="headingFivty" data-bs-parent="#accordionExample4" style="">
                                        <div class="accordion-body">
                                           We aspire to create a positive impact not only on your bottom line but also on society and the environment. Our commitment to sustainability and corporate social responsibility ensures that your success aligns with ethical practices and contributes positively to the world.
                                        </div>
                                    </div>
                                </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSixty">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapseSixty">
                                            <span>05.</span> Fostering Collaborative Partnerships
                                    </h2>
                                    <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="headingSixty" data-bs-parent="#accordionExample4" style="">
                                        <div class="accordion-body">
                     We aspire to build more than just client-consultant relationships; we aim to foster collaborative partnerships. When you choose Xeed Consulting, you gain a team of dedicated individuals who are deeply invested in your success. Together, we'll achieve milestones that were once thought to be out of reach.
                                        </div>
                                    </div>
                                </div>


                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSeventy">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapseSeventy">
                                                <span>06.</span> Unleashing Potential
                                            </button>
                                        </h2>
                                        <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="headingSeventy" data-bs-parent="#accordionExample4" style="">
                                            <div class="accordion-body">
                                                Our ultimate aspiration is to help you unleash your organization's full potential. We believe that there are no limits to what a dedicated team, armed with the right strategies, can achieve. Your success is our measure of accomplishment.
                                            </div>
                                        </div>
                                    </div>




                            </div>
                        </div>
                      </div>
                        <p class="disc">
                            At Xeed Consulting, our aspiration isn't just about business; it's about the journey we embark on with you. It's about the transformative impact we can create together. We invite you to join us in realizing this aspiration by contacting us today. 
Your success is not just our aspiration; it's our commitment. Together, we'll turn aspirations into achievements.

                        </p>
                     


                    </div>
                </div>
                <!-- about right -->
                <!-- about-right Start-->
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-2 order-md-1 order-sm-1 order-1">
                    <div class="about-one-thumbnail">
                        <img src=" assets/images/aspiration.jpg" alt="aspiration">
                     
                    </div>
                </div>
                <!-- about-right end -->
            </div>
        </div>
    </div>









    <div class="rts-service-area rts-section-gapBottom" id="services">
        <div class="container-fluid service-main plr--120-service mt--50 plr_md--0 pl_sm--0 pr_sm--0">
            <div class="row">
                <div class="cta-one-bg col-12">
                    <div class="cta-one-inner">
                        <div class="cta-left">
                            <h3 class="title animated fadeIn">
                                Let’s discuss about how we can help
                                make your business better
                            </h3>
                        </div>
                        <div class="cta-right">
                            <a class="rts-btn btn-white" asp-controller="Quote" asp-action="Index">Lets Work Together</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="rts-business-goal mt--0 rts-section-gapBottom">
        <div class="container">
            <div class="row">
                <!-- business goal left -->
                <div class="col-lg-6">
                    <div class="business-goal-one">
                        <img src="assets/images/team.jpg" alt="Teams">
                        <img class="small" src="assets/images/team1.jpg" alt="Teams">
                    </div>
                </div>
                <!-- business goal right -->
                <!-- right area business -->
                <div class="col-lg-6 mt--35 mt_md--70 mt_sm--70">
                    <div class="business-goal-right">
                        <div class="rts-title-area business text-start pl--30">
                            <p class="pre-title">
                                Xeed Consulting
                            </p>
                            <h2 class="title">
                                 Our Team
                            </h2>
                        </div>
                        <div class="rts-business-goal ">
                            <div class="single-goal">

                                <div class="goal-wrapper">
                                    @*<h6 class="title">Best Business Consulting</h6>*@
                                    <p class="disc">
                                     At Xeed Consulting, our team is the driving force behind our success. We take pride in our diverse and talented group of professionals who are committed to helping your organization thrive. Get to know the individuals who will be by your side on the journey to success:
                                     Our team's strength lies in their diversity, expertise, and shared commitment to your success. We are more than just consultants; we are your dedicated partners in achieving your business objectives.
                                     When you choose Xeed Consulting, you're not just getting a consultancy firm; you're gaining a team of passionate individuals who are deeply invested in your growth. Contact us today to meet our team and learn how we can work together to transform your business. Your success is our team's mission!

                                    </p>
                                </div>
                            </div>

                          
                        </div>
                    </div>
                </div>
                <!-- right area business ENd -->
            </div>
        </div>
    </div>


    <!-- end team section -->

    <!-- rts features area start -->
    <div class="rts-feature-area rts-section-gap Purpose">
        <div class="container-fluid padding-controler plr--120">
            <div class="row bg-white-feature  pt--120 pb--120">
                <div class="col-xl-6 col-lg-12">
                    <div class="feature-left-area">
                        <img src="assets/images/purpose.jpg" alt="purpose">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="rts-title-area feature text-start pl--30 pl_sm--0">
                        <p class="pre-title">
                            @*Boost Your Business Today*@
                        </p>
                        <h2 class="title feature-title">Purpose</h2>
                        <p>At Xeed Consulting, our purpose is clear and unwavering: to empower organizations to thrive in an ever-evolving business landscape. We understand that today's business environment is dynamic, challenging, and highly competitive. Our purpose is to be the guiding light, helping businesses not just survive but excel in this landscape.</p>


                        <p class="disc">
                            <span style="font-size:20px; color: #104e7e;">Value</span>
                            <br />
                            Our values are the compass that directs our actions and decisions. They reflect our commitment to ethical business practices, transparency, and a client-centric approach. Our core values define who we are and how we operate:
                        </p>





                    </div>

                </div>
                  <div class="col-xl-12 col-lg-12">
                    <div class="rts-faq-area rts-section-gap inner">
                       
                                    <div class="accordion-area inner inner2">

                                        <div class="accordion-one-inner inner inner2">
                                            <div class="accordion" id="accordionExample5">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOnez">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapseOne">
                                                <span>01.</span> Integrity
                                                        </button>
                                                    </h2>
                                                    <div id="collapse5" class="accordion-collapse collapse show" aria-labelledby="headingOnez" data-bs-parent="#accordionExample5">
                                                        <div class="accordion-body">
                                                We hold ourselves to the highest standards of honesty and integrity. We believe in doing what's right, even when it's challenging. Integrity is the foundation of our client relationships and the trust that underpins our consultancy.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingTwoo">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapseTwo">
                                                <span>02.</span> Transparency
                                                        </button>
                                                    </h2>
                                                    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample5">
                                                        <div class="accordion-body">
                                                          Open and clear communication is at the heart of our approach. We believe in transparent partnerships, where you are informed and engaged at every step of the journey. Transparency builds trust, and trust is the bedrock of our consultancy.
                                                        </div>
                                                    </div>
                                                </div>




                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingThree">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                                <span>03.</span> Client-Centricity
                                                </button>
                                                </h2>
                                                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample5">
                                                <div class="accordion-body">
                                                Your success is our primary focus. We are dedicated to understanding your unique challenges, goals, and aspirations. Our solutions are tailored to your specific needs, ensuring that we align our strategies with your objectives.
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingFour">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapseFour">
                                                <span>04.</span> Innovation
                                                </button>
                                                </h2>
                                                    <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample5">
                                                        <div class="accordion-body">
                                                Innovation is the driving force behind progress. We constantly seek new and creative solutions to the challenges our clients face. We encourage fresh perspectives and out-of-the-box thinking to drive continuous improvement.
                                                        </div>
                                                    </div>
                                                </div>




                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFive">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapseFive">
                                                <span>05.</span> Collaboration
                                            </button>
                                        </h2>
                                        <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample5">
                                            <div class="accordion-body">
                                                We believe in the power of collaboration, both within our team and with our clients. By working together, we harness the collective intelligence and creativity that fuels transformative change.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSix">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapseSix">
                                                <span>06.</span> Continuous Learning
                                            </button>
                                        </h2>
                                        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample5">
                                            <div class="accordion-body">
                                                In a rapidly changing world, the pursuit of knowledge is paramount. We are committed to continuous learning and staying at the forefront of industry trends and best practices.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingSeven">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapseSeven">
                                                <span>07.</span> Diversity and Inclusion
                                            </button>
                                        </h2>
                                        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample5">
                                            <div class="accordion-body">
                                                We celebrate diversity and believe in creating an inclusive work environment. Different perspectives enrich our consultancy and lead to more robust, innovative solutions.
                                                At Xeed Consulting, our leadership, purpose, and values are more than just words on a page; they are the principles that guide us every day. When you choose to partner with us, you are choosing a consultancy firm that is not only dedicated to your success but is also driven by a higher purpose and unwavering values. Together, we will navigate the complex business landscape and achieve remarkable results.

                                            </div>
                                        </div>
                                    </div>

                                </div>
                              </div>
                               
                         </div>
                       </div>
                     </div>
            </div>
        </div>
    </div>
</body>