@model ExceedConsultancy.Models.AhmadModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers                                                                                                  @using Microsoft.AspNetCore.Localization;
                                         
@using Microsoft.AspNetCore.Localization;

@{
    var culture = ViewContext.HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
    var textDirection = culture.StartsWith("ar") ? "rtl" : "ltr";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
                                              
    ViewBag.Title = "Xeed Consulting | Ahmad Ghader | Head of Software Development";
    ViewBag.MetaDescription = "Ahmad Ghader has over 13 years of programming experience and has delivered multiple high-end projects in different industries and business models. He is responsible for project delivery, collaboration with CTO, Project Managers, and the Development Team, ensuring timely and high-quality results.";
    ViewBag.MetaKeywords = "Ahmad Ghader, Head of Software Development, programming experience, high-end projects, collaboration, project delivery, CTO, Project Managers, Development Team, software development standards, technology skills";

}


<body>
    <!-- End header area -->

  


    <div id="anywhere-home">
    </div>
    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">Ahmad Ghader</h1>
                </div>
            
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- rts-team details area Start-->
    <div class="rts-team-details rts-section-gap">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div class="details-thumb">
                        <img src="assets/images/team/tm/ahmad.jpg" alt="ahmad">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 pl--35 pl_sm--15">
                    <div class="details-right-inner">
                        <div class="title-area">
                            <span class="pre-title">
                                Head Of Software Development
                            </span>
                            <h3 class="title"> Ahmad Ghader</h3>
                        </div>
                        <p class="disc">
                            Ahmad Ghader is the Head of Software Development.<br /><br />
                            He has more than 13 years of programing experience, throuout his career he delivered multiple high-end Projects in different industries and business models,
                            <br /><br/>
                            Ahmad is responsible for the delivery of projects in accordance with business requirements and system architectural design documentation with high level of collaboration and coordination with CTO, Project Managers and Development Team.
                            <br /><br />
                            He also ensures this delivery is completed on time and to the required level of quality, Ensuring that developed software adheres to defined software development standards.
                            <br /><br />
                            Ahmad is continuously working to ensure the team skills are up to date on technologies and tools.

                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts-team details area ENd -->
    <!-- rts skills area start -->
   
</body>