@model ExceedConsultancy.Models.ElianeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Xeed Consulting | Eliane Faddoul | Senior Business Development Consultant";
    ViewBag.MetaDescription = "Eliane Faddoul is a Senior Business Development Consultant with over 20 years of corporate business management experience in various industries. She excels in identifying business weaknesses and challenges, providing relevant solutions, and developing strategic plans for marketing and sales departments.";
    ViewBag.MetaKeywords = "Eliane Faddoul, Senior Business Development Consultant, corporate business management, Project Manager, retail, real estate, health, marketing, sales, strategic plan, team leadership, market analysis,";

}


<body>
    <!-- End header area -->

  


    <div id="anywhere-home">
    </div>
    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">Eliane Fadoul</h1>
                </div>
            
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- rts-team details area Start-->
    <div class="rts-team-details rts-section-gap">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div class="details-thumb">
                        <img src="assets/images/team/tm/eliane1.jpg" alt="eliane">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 pl--35 pl_sm--15">
                    <div class="details-right-inner">
                        <div class="title-area">
                            <span class="pre-title">
                                Senior Business Development Consultant
                            </span>
                            <h3 class="title"> Eliane Fadoul</h3>
                        </div>
                        <p class="disc">
                            Eliane Faddoul is a Senior Business Development Consultant.<br /><br />
                            She has more than 20 years of corporate business management experience acquired while working in the capacity of a Project Manager with local and international holding companies in different industries("tourism, retail, transport, entertainment, education, real estate, petroleum and health sectors) by helping companies to identify business weaknesses and challenges and determine relevant solutions.
                            <br /><br />
                            Eliane has cooperated with large companies, senior management located in Lebanon, Qatar, Iraq and France in order to :<br />
                            - Provide assistance with implementing suggested plans and strategies. <br />
                            -  Develop a strategic plan for the marketing and sales departments.<br />
                            - Oversee and examine new strategy progress and development.<br />
                           - Educate, lead and supervise members of the business development team to ensure the project's achievement. <br />
                            - Conduct complex analysis in order to find new market opportunities. <br />
                            - Investigate existing products and services and compare them with competitors.
                            <br /><br />
                            Eliane holds a masters degree in Political science, Graphic Design, French literature  and a Graduate Certificate in Microsoft Office 365,Professional Business writing, Business Etiquette & Professionalism  with deep knowledge in international ISO standards /9001.

                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts-team details area ENd -->
    <!-- rts skills area start -->
   
</body>