@model ExceedConsultancy.Models.JihaneArModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
    ViewBag.Title = "Exceed Consultancy | جيهان معتوق | مدير المشروعات";
    ViewBag.MetaDescription = "جيهان معتوق هي مدير مشروعات ذو خبرة في مجال المالية، متخصصة في مشاريع التكنولوجيا. إنها تمتلك فهمًا قويًا لمنهجيات إدارة المشروعات، بما في ذلك شهادة PMP، ومهارات في قيادة الفرق المتعددة التخصصات، إدارة المخاطر، تحليل الماليات، والتواصل الفعال مع أصحاب المصلحة.";
    ViewBag.MetaKeywords = "جيهان معتوق، المالية، مشاريع التكنولوجيا، شهادة PMP، إدارة المخاطر، التحليلات المالية، التواصل مع أصحاب المصلحة، منهجية إدارة المشروعات، تسليم في الوقت المحدد،";

}


<body>
    <!-- End header area -->

  


    <div id="anywhere-home">
    </div>
    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">Jihane Maatouk</h1>
                </div>
            
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- rts-team details area Start-->
    <div class="rts-team-details rts-section-gap">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div class="details-thumb">
                        <img src="assets/images/team/tm/jihane1.jpg" alt="jihane">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 pl--35 pl_sm--15">
                    <div class="details-right-inner">
                        <div class="title-area">
                            <span class="pre-title">
                                Project Manager
                            </span>
                            <h3 class="title">Jihane Maatouk</h3>
                        </div>
                        <p class="disc">
                            جيهان معتوق هي مديرة مشاريع من ذوي الخبرة ولديها خلفية في الشؤون المالية، وتعمل مع فريق التطوير في قسم التكنولوجيا.
                            <br /><br />
                            تمتلك فهمًا قويًا لمنهجيات إدارة المشاريع، بما في ذلك شهادة PMP، تتكيف بسرعة مع البيئات الجديدة، بعد أن طورت مهاراتها بنجاح من خلفية محاسبية إلى تكنولوجيا الأعمال.
                            <br /><br />
                            خبيرة في إدارة المخاطر والتحليل المالي، مع القدرة على تطبيق هذه المهارات على المشاريع التكنولوجية، فهي ماهرة في قيادة فرق متعددة الوظائف، والتواصل الفعال مع أصحاب المصلحة، وتسليم المشاريع في الوقت المحدد وفي حدود الميزانية.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts-team details area ENd -->
    <!-- rts skills area start -->
   
</body>