@model ExceedConsultancy.Models.YoussefArModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
    ViewBag.Title = "Xeed Consulting | يوسف كلاش | كبير مستشاري التكنولوجيا والأعمال";
    ViewBag.MetaDescription = "يوسف كلاش هو كبير مستشاري التكنولوجيا والأعمال، مدير مشاريع ومدرب معتمد، يمتلك أكثر من 20 عامًا من الخبرة في مجال تكنولوجيا الأعمال والتحول الرقمي في الشركات الكبرى. نجح في تصميم وتخطيط وتنفيذ وإدارة وصيانة مشاريع معقدة وحلول أعمال مبتكرة عبر العديد من الصناعات والقطاعات التسوقية. يحمل العديد من الشهادات المهنية، بما في ذلك PMP و ITIL و Six Sigma و ISO IA.";

    ViewBag.MetaKeywords = "يوسف كلاش، كبير مستشاري التكنولوجيا والأعمال، مدير مشاريع، مدرب معتمد، تكنولوجيا الأعمال، التحول الرقمي، مستشار، إدارة استراتيجية، علوم الحاسوب، PMP، ITIL، Six Sigma، ISO IA، MCT، MCP";

}


<body>
    <!-- End header area -->

  


    <div id="anywhere-home">
    </div>
    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">يوسف كلش</h1>
                </div>
            
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- rts-team details area Start-->
    <div class="rts-team-details rts-section-gap">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div class="details-thumb">
                        <img src="assets/images/team/tm/youssef1.jpg" alt="youssef">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 pl--35 pl_sm--15">
                    <div class="details-right-inner">
                        <div class="title-area">
                            <span class="pre-title">
                                كبير مستشاري تكنولوجيا الأعمال
                            </span>
                            <h3 class="title">يوسف كلش</h3>
                        </div>
                        <p class="disc">
                            يوسف كلش مستشار تكنولوجيا الأعمال ومدير مشاريع ومدرب معتمد.

                            <br /><br />
                            يتمتع بخبرة تزيد عن 20 عامًا في مجال تكنولوجيا الأعمال التجارية للشركات والتحول الرقمي التي اكتسبها أثناء عمله بصفته مستشارًا ومدير مشاريع ومدربًا معتمدًا مع المنظمات والإدارات الوظيفية ووحدات الأعمال والفرق. قد ساعد على تحقيق أهداف أعمالهم وتنفيذها. وقد قاد استراتيجيات تحسين سير العمل وتعزيز الإنتاجية وتحسين الكفاءات عن طريق ربط الأعمال بالتكنولوجيا.
                            <br /><br />
                            تعاون يوسف مع المنظمات الكبيرة والإدارة العليا والفرق المهنية، ونجح في تصميم وتخطيط وتنفيذ وإدارة وصيانة المشاريع الكبيرة المعقدة والميزنة وحلول الأعمال المبتكرة عبر العديد من الصناعات وقطاعات السوق الموجودة في لبنان، الإمارات العربية المتحدة، المملكة العربية السعودية، الأردن، مصر والكويت وتركيا وأوروبا والولايات المتحدة وكندا.
                            <br /><br />
                            يعمل حاليًا على إنهاء ماجستير إدارة الأعمال التنفيذية، حيث حصل على شهادة الدراسات العليا في الإدارة الإستراتيجية وبكالوريوس في علوم الكمبيوتر. كما حصل على مجموعة من الشهادات المهنية مثل PMP، و ITIL، و Six Sigma، و ISO IA، و MCT، و MCP. وهو أيضًا عضو في معهد إدارة المشاريع وعضو في المؤتمر الوطني لريادة الأعمال والابتكار ومدرب معتمد مرتبط بمراكز تدريب بارزة.

                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts-team details area ENd -->
    <!-- rts skills area start -->
   
</body>