@model ExceedConsultancy.Models.AhmadArModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
    ViewBag.MetaDescription = "";
    ViewBag.MetaKeywords = "";
}


<body>
    <!-- End header area -->

  


    <div id="anywhere-home">
    </div>
    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">Ahmad Ghader</h1>
                </div>
            
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- rts-team details area Start-->
    <div class="rts-team-details rts-section-gap">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-6 col-lg-12 col-md-12">
                    <div class="details-thumb">
                        <img src="assets/images/team/tm/ahmad.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 pl--35 pl_sm--15">
                    <div class="details-right-inner">
                        <div class="title-area">
                            <span class="pre-title">
                                رئيس تطوير البرمجيات
                            </span>
                            <h3 class="title"> Ahmad Ghader</h3>
                        </div>
                        <p class="disc">
                            أحمد غادر هو رئيس تطوير البرمجيات.<br /><br />
                            لديه أكثر من 13 عاما من الخبرة في البرمجة ، وطوال حياته المهنية قدم العديد من المشاريع الراقية في مختلف الصناعات ونماذج الأعمال,
                            <br /><br/>
                            أحمد مسؤول عن تسليم المشاريع وفقا لمتطلبات العمل ووثائق التصميم المعماري للنظام مع مستوى عال من التعاون والتنسيق مع رئيس قسم التكنولوجيا ومديري المشاريع وفريق التطوير.
                            <br /><br />
                            كما أنه يضمن اكتمال هذا التسليم في الوقت المحدد وإلى المستوى المطلوب من الجودة ، مما يضمن التزام البرامج المطورة بمعايير تطوير البرامج المحددة.
                            <br /><br />
                            يعمل أحمد باستمرار لضمان تحديث مهارات الفريق على التقنيات والأدوات.

                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts-team details area ENd -->
    <!-- rts skills area start -->
   
</body>